<div class='progress-msg'>Mon, 21 Oct 2019 05:08:33 +0000</div>
<div class='progress-msg'>[05:08:33] Composing titles...</div>
<div class='progress-msg'>[05:08:33] Composing excerpts...</div>
<div class='progress-msg'>[05:08:33] Composing duplicate indicators...</div>
<div class='progress-msg'>[05:08:33] Composing authors...</div>
<div class='progress-msg'>[05:08:33] Composing slugs...</div>
<div class='progress-msg'>[05:08:33] Composing menu order...</div>
<div class='progress-msg'>[05:08:33] Composing contents...</div>
<div class='progress-msg'>[05:08:33] Composing dates...</div>
<div class='progress-msg'>[05:08:33] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[05:08:33] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[05:08:33] Composing custom parameters...</div>
<div class='progress-msg'>[05:08:33] Composing URLs for images...</div>
<div class='progress-msg'>[05:08:33] Composing URLs for attachments files...</div>
<div class='progress-msg'>[05:08:33] Composing unique keys...</div>
<div class='progress-msg'>[05:08:33] Processing posts...</div>
<div class='progress-msg'>[05:08:33] Data parsing via add-ons...</div>
<div class='progress-msg'>[05:08:33] ---</div>
<div class='progress-msg'>[05:08:33] Record #1</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:08:33] Combine all data for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[05:08:33] Find corresponding article among previously imported for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[05:08:33] Duplicate post wasn't found with unique key `Bens Test Page 2 -  - `...</div>
<div class='progress-msg'>[05:08:33] Applying filter `pmxi_article_data` for `Bens Test Page 2`</div>
<div class='progress-msg'>[05:08:33] <b>CREATING</b> `Bens Test Page 2` `Page`</div>
<div class='progress-msg'>[05:08:33] Associate post `Bens Test Page 2` with current import ...</div>
<div class='progress-msg'>[05:08:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:08:33] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:08:33] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:08:33] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:08:33] <b>CREATED</b> `Bens Test Page 2` `Page` (ID: 128)</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:08:33] ---</div>
<div class='progress-msg'>[05:08:33] Record #2</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:08:33] Combine all data for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[05:08:33] Find corresponding article among previously imported for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[05:08:33] Duplicate post wasn't found with unique key `Bens Test Page 3 -  - `...</div>
<div class='progress-msg'>[05:08:33] Applying filter `pmxi_article_data` for `Bens Test Page 3`</div>
<div class='progress-msg'>[05:08:33] <b>CREATING</b> `Bens Test Page 3` `Page`</div>
<div class='progress-msg'>[05:08:33] Associate post `Bens Test Page 3` with current import ...</div>
<div class='progress-msg'>[05:08:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:08:33] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:08:33] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:08:33] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:08:33] <b>CREATED</b> `Bens Test Page 3` `Page` (ID: 129)</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:08:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:08:33] Cleaning temporary data...</div>
