<div class='progress-msg'>Tue, 03 Dec 2019 04:18:37 +0000</div>
<div class='progress-msg'>[04:18:37] Composing titles...</div>
<div class='progress-msg'>[04:18:37] Composing excerpts...</div>
<div class='progress-msg'>[04:18:37] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:18:37] Composing authors...</div>
<div class='progress-msg'>[04:18:37] Composing slugs...</div>
<div class='progress-msg'>[04:18:37] Composing menu order...</div>
<div class='progress-msg'>[04:18:37] Composing contents...</div>
<div class='progress-msg'>[04:18:37] Composing dates...</div>
<div class='progress-msg'>[04:18:37] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[04:18:37] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[04:18:37] Composing custom parameters...</div>
<div class='progress-msg'>[04:18:37] Composing URLs for images...</div>
<div class='progress-msg'>[04:18:37] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:18:37] Composing unique keys...</div>
<div class='progress-msg'>[04:18:37] Processing posts...</div>
<div class='progress-msg'>[04:18:37] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:18:37] Composing advanced custom fields...</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #1</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 2`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 2`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 2 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 2`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 2` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 2` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 2` `Page` (ID: 1184)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #2</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 3`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 3`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 3 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 3`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 3` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 3` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 3` `Page` (ID: 1185)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #3</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 4`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 4`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 4 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 4`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 4` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 4` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 4` `Page` (ID: 1186)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #4</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 5`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 5`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 5 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 5`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 5` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 5` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 5` `Page` (ID: 1187)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #5</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 6`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 6`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 6 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 6`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 6` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 6` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 6` `Page` (ID: 1188)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #6</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 7`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 7`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 7 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 7`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 7` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 7` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 7` `Page` (ID: 1189)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #7</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 8`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 8`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 8 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 8`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 8` `Page`</div>
<div class='progress-msg'>[04:18:37] Associate post `Review page 8` with current import ...</div>
<div class='progress-msg'>[04:18:37] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:37] <b>CREATED</b> `Review page 8` `Page` (ID: 1190)</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:37] ---</div>
<div class='progress-msg'>[04:18:37] Record #8</div>
<div class='progress-msg'>[04:18:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:37] Combine all data for post `Review page 9`...</div>
<div class='progress-msg'>[04:18:37] Find corresponding article among previously imported for post `Review page 9`...</div>
<div class='progress-msg'>[04:18:37] Duplicate post wasn't found with unique key `Review page 9 -  - `...</div>
<div class='progress-msg'>[04:18:37] Applying filter `pmxi_article_data` for `Review page 9`</div>
<div class='progress-msg'>[04:18:37] <b>CREATING</b> `Review page 9` `Page`</div>
<div class='progress-msg'>[04:18:38] Associate post `Review page 9` with current import ...</div>
<div class='progress-msg'>[04:18:38] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:38] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:38] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:38] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:38] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:38] <b>CREATED</b> `Review page 9` `Page` (ID: 1191)</div>
<div class='progress-msg'>[04:18:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:38] ---</div>
<div class='progress-msg'>[04:18:38] Record #9</div>
<div class='progress-msg'>[04:18:38] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:18:38] Combine all data for post `Review page 10`...</div>
<div class='progress-msg'>[04:18:38] Find corresponding article among previously imported for post `Review page 10`...</div>
<div class='progress-msg'>[04:18:38] Duplicate post wasn't found with unique key `Review page 10 -  - `...</div>
<div class='progress-msg'>[04:18:38] Applying filter `pmxi_article_data` for `Review page 10`</div>
<div class='progress-msg'>[04:18:38] <b>CREATING</b> `Review page 10` `Page`</div>
<div class='progress-msg'>[04:18:38] Associate post `Review page 10` with current import ...</div>
<div class='progress-msg'>[04:18:38] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[04:18:38] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:18:38] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:18:38] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:18:38] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:18:38] <b>CREATED</b> `Review page 10` `Page` (ID: 1192)</div>
<div class='progress-msg'>[04:18:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:18:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:18:38] Cleaning temporary data...</div>
