<div class='progress-msg'>Wed, 20 Nov 2019 07:10:14 +0000</div>
<div class='progress-msg'>[07:10:14] Composing titles...</div>
<div class='progress-msg'>[07:10:14] Composing excerpts...</div>
<div class='progress-msg'>[07:10:14] Composing duplicate indicators...</div>
<div class='progress-msg'>[07:10:14] Composing authors...</div>
<div class='progress-msg'>[07:10:14] Composing slugs...</div>
<div class='progress-msg'>[07:10:14] Composing menu order...</div>
<div class='progress-msg'>[07:10:14] Composing contents...</div>
<div class='progress-msg'>[07:10:14] Composing dates...</div>
<div class='progress-msg'>[07:10:14] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[07:10:14] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[07:10:14] Composing custom parameters...</div>
<div class='progress-msg'>[07:10:14] Composing URLs for images...</div>
<div class='progress-msg'>[07:10:14] Composing URLs for attachments files...</div>
<div class='progress-msg'>[07:10:14] Composing unique keys...</div>
<div class='progress-msg'>[07:10:14] Processing posts...</div>
<div class='progress-msg'>[07:10:14] Data parsing via add-ons...</div>
<div class='progress-msg'>[07:10:14] Composing advanced custom fields...</div>
<div class='progress-msg'>[07:10:14] ---</div>
<div class='progress-msg'>[07:10:14] Record #1</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:10:14] Combine all data for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[07:10:14] Find corresponding article among previously imported for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[07:10:14] Duplicate post wasn't found with unique key `1001`...</div>
<div class='progress-msg'>[07:10:14] Applying filter `pmxi_article_data` for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[07:10:14] <b>CREATING</b> `xxx Mobile Skips Elwood` `Page`</div>
<div class='progress-msg'>[07:10:14] Associate post `xxx Mobile Skips Elwood` with current import ...</div>
<div class='progress-msg'>[07:10:14] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:10:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:10:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:10:14] - Creating parent Page category `Suburb Test` ...</div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:10:14] <b>CREATED</b> `xxx Mobile Skips Elwood` `Page` (ID: 956)</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:10:14] ---</div>
<div class='progress-msg'>[07:10:14] Record #2</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:10:14] Combine all data for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[07:10:14] Find corresponding article among previously imported for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[07:10:14] Duplicate post wasn't found with unique key `1002`...</div>
<div class='progress-msg'>[07:10:14] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[07:10:14] <b>CREATING</b> `xxxx Mobile Skips Ringwood` `Page`</div>
<div class='progress-msg'>[07:10:14] Associate post `xxxx Mobile Skips Ringwood` with current import ...</div>
<div class='progress-msg'>[07:10:14] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:10:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:10:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:10:14] - Attempted to create parent Page category `Suburb Test`, duplicate detected. Importing Page to existing `Suburb Test` category, ID 90, slug `suburb-test` ...</div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:10:14] <b>CREATED</b> `xxxx Mobile Skips Ringwood` `Page` (ID: 957)</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:10:14] ---</div>
<div class='progress-msg'>[07:10:14] Record #3</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:10:14] Combine all data for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[07:10:14] Find corresponding article among previously imported for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[07:10:14] Duplicate post wasn't found with unique key `1003`...</div>
<div class='progress-msg'>[07:10:14] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[07:10:14] <b>CREATING</b> `xxxx Mobile Skips Melbourne` `Page`</div>
<div class='progress-msg'>[07:10:14] Associate post `xxxx Mobile Skips Melbourne` with current import ...</div>
<div class='progress-msg'>[07:10:14] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:10:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:10:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:10:14] - Attempted to create parent Page category `Suburb Test`, duplicate detected. Importing Page to existing `Suburb Test` category, ID 90, slug `suburb-test` ...</div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:10:14] <b>CREATED</b> `xxxx Mobile Skips Melbourne` `Page` (ID: 958)</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:10:14] ---</div>
<div class='progress-msg'>[07:10:14] Record #4</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:10:14] Combine all data for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[07:10:14] Find corresponding article among previously imported for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[07:10:14] Duplicate post wasn't found with unique key `1004`...</div>
<div class='progress-msg'>[07:10:14] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[07:10:14] <b>CREATING</b> `xxxx Mobile Skips Geelong` `Page`</div>
<div class='progress-msg'>[07:10:14] Associate post `xxxx Mobile Skips Geelong` with current import ...</div>
<div class='progress-msg'>[07:10:14] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:10:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:10:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:10:14] - Attempted to create parent Page category `Suburb Test`, duplicate detected. Importing Page to existing `Suburb Test` category, ID 90, slug `suburb-test` ...</div>
<div class='progress-msg'>[07:10:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:10:14] <b>CREATED</b> `xxxx Mobile Skips Geelong` `Page` (ID: 959)</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:10:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:10:14] Cleaning temporary data...</div>
