<div class='progress-msg'>Sat, 19 Oct 2019 04:53:02 +0000</div>
<div class='progress-msg'>[04:53:02] Composing titles...</div>
<div class='progress-msg'>[04:53:02] Composing excerpts...</div>
<div class='progress-msg'>[04:53:02] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:53:02] Composing authors...</div>
<div class='progress-msg'>[04:53:02] Composing slugs...</div>
<div class='progress-msg'>[04:53:02] Composing menu order...</div>
<div class='progress-msg'>[04:53:02] Composing contents...</div>
<div class='progress-msg'>[04:53:02] Composing dates...</div>
<div class='progress-msg'>[04:53:02] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[04:53:02] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[04:53:02] Composing custom parameters...</div>
<div class='progress-msg'>[04:53:02] Composing URLs for images...</div>
<div class='progress-msg'>[04:53:02] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:53:02] Composing unique keys...</div>
<div class='progress-msg'>[04:53:02] Processing posts...</div>
<div class='progress-msg'>[04:53:02] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #1</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data Ben`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data Ben`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data Ben`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data Ben`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data Ben`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data Ben`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data Ben` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data Ben` `Page` (ID: 47)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #2</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 3`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 3`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 3`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 3`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 3`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 3`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 3` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 3` `Page` (ID: 93)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #3</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 4`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 4`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 4`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 4`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 4`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 4`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 4` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 4` `Page` (ID: 94)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #4</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 5`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 5`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 5`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 5`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 5`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 5`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 5` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 5` `Page` (ID: 95)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #5</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 6`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 6`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 6`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 6`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 6`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 6`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 6` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 6` `Page` (ID: 96)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #6</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 7`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 7`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 7`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 7`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 7`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 7`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 7` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 7` `Page` (ID: 97)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #7</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 8`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 8`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 8`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 8`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 8`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 8`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 8` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 8` `Page` (ID: 98)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #8</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 9`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 9`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 9`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 9`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 9`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 9`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 9` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 9` `Page` (ID: 99)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] ---</div>
<div class='progress-msg'>[04:53:02] Record #9</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:53:02] Combine all data for post `Schema Data 10`...</div>
<div class='progress-msg'>[04:53:02] Find corresponding article among database for post `Schema Data 10`...</div>
<div class='progress-msg'>[04:53:02] Duplicate post was found for post `Schema Data 10`...</div>
<div class='progress-msg'>[04:53:02] Deleting attachments for `Schema Data 10`</div>
<div class='progress-msg'>[04:53:02] Deleting images for `Schema Data 10`</div>
<div class='progress-msg'>[04:53:02] Applying filter `pmxi_article_data` for `Schema Data 10`</div>
<div class='progress-msg'>[04:53:02] <b>UPDATING</b> `Schema Data 10` `Page`</div>
<div class='progress-msg'>[04:53:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:53:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:53:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:53:02] <b>UPDATED</b> `Schema Data 10` `Page` (ID: 100)</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:53:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:53:02] Cleaning temporary data...</div>
