<div class='progress-msg'>Tue, 22 Oct 2019 05:05:12 +0000</div>
<div class='progress-msg'>[05:05:12] Composing titles...</div>
<div class='progress-msg'>[05:05:12] Composing excerpts...</div>
<div class='progress-msg'>[05:05:12] Composing duplicate indicators...</div>
<div class='progress-msg'>[05:05:12] Composing authors...</div>
<div class='progress-msg'>[05:05:12] Composing slugs...</div>
<div class='progress-msg'>[05:05:12] Composing menu order...</div>
<div class='progress-msg'>[05:05:12] Composing contents...</div>
<div class='progress-msg'>[05:05:12] Composing dates...</div>
<div class='progress-msg'>[05:05:12] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[05:05:12] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[05:05:12] Composing custom parameters...</div>
<div class='progress-msg'>[05:05:12] Composing URLs for images...</div>
<div class='progress-msg'>[05:05:12] Composing URLs for attachments files...</div>
<div class='progress-msg'>[05:05:12] Composing unique keys...</div>
<div class='progress-msg'>[05:05:12] Processing posts...</div>
<div class='progress-msg'>[05:05:12] Data parsing via add-ons...</div>
<div class='progress-msg'>[05:05:12] Composing advanced custom fields...</div>
<div class='progress-msg'>[05:05:12] ---</div>
<div class='progress-msg'>[05:05:12] Record #1</div>
<div class='progress-msg'>[05:05:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:12] Combine all data for post `Dhaka cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:12] Find corresponding article among database for post `Dhaka cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:12] Duplicate post was found for post `Dhaka cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:12] Deleting attachments for `Dhaka cleaning service In BD`</div>
<div class='progress-msg'>[05:05:12] Deleting images for `Dhaka cleaning service In BD`</div>
<div class='progress-msg'>[05:05:12] Applying filter `pmxi_article_data` for `Dhaka cleaning service In BD`</div>
<div class='progress-msg'>[05:05:12] <b>UPDATING</b> `Dhaka cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:13] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `name`</div>
<div class='progress-msg'>[05:05:13] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:13] - Importing field `link`</div>
<div class='progress-msg'>[05:05:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:13] <b>UPDATED</b> `Dhaka cleaning service In BD` `Page` (ID: 264)</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:13] ---</div>
<div class='progress-msg'>[05:05:13] Record #2</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:13] Combine all data for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Find corresponding article among database for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Duplicate post was found for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Deleting attachments for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Deleting images for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Applying filter `pmxi_article_data` for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] <b>UPDATING</b> `Chittagong cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:13] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `name`</div>
<div class='progress-msg'>[05:05:13] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:13] - Importing field `link`</div>
<div class='progress-msg'>[05:05:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:13] <b>UPDATED</b> `Chittagong cleaning service In BD` `Page` (ID: 265)</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:13] ---</div>
<div class='progress-msg'>[05:05:13] Record #3</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:13] Combine all data for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Find corresponding article among database for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Duplicate post was found for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Deleting attachments for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Deleting images for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Applying filter `pmxi_article_data` for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] <b>UPDATING</b> `Comilla cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:13] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `name`</div>
<div class='progress-msg'>[05:05:13] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:13] - Importing field `link`</div>
<div class='progress-msg'>[05:05:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:13] <b>UPDATED</b> `Comilla cleaning service In BD` `Page` (ID: 266)</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:13] ---</div>
<div class='progress-msg'>[05:05:13] Record #4</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:13] Combine all data for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Find corresponding article among database for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Duplicate post was found for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Deleting attachments for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Deleting images for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Applying filter `pmxi_article_data` for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] <b>UPDATING</b> `Rajbari cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:13] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `name`</div>
<div class='progress-msg'>[05:05:13] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:13] - Importing field `link`</div>
<div class='progress-msg'>[05:05:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:13] <b>UPDATED</b> `Rajbari cleaning service In BD` `Page` (ID: 267)</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:13] ---</div>
<div class='progress-msg'>[05:05:13] Record #5</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:13] Combine all data for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Find corresponding article among database for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Duplicate post was found for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Deleting attachments for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Deleting images for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Applying filter `pmxi_article_data` for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] <b>UPDATING</b> `Faridpur cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:13] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:13] - Importing field `name`</div>
<div class='progress-msg'>[05:05:13] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:13] - Importing field `link`</div>
<div class='progress-msg'>[05:05:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:13] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:13] <b>UPDATED</b> `Faridpur cleaning service In BD` `Page` (ID: 268)</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:13] ---</div>
<div class='progress-msg'>[05:05:13] Record #6</div>
<div class='progress-msg'>[05:05:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:05:13] Combine all data for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Find corresponding article among database for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Duplicate post was found for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[05:05:13] Deleting attachments for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Deleting images for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] Applying filter `pmxi_article_data` for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[05:05:13] <b>UPDATING</b> `Pabna cleaning service In BD` `Page`</div>
<div class='progress-msg'>[05:05:13] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:05:13] - Importing field `heading_h1`</div>
<div class='progress-msg'>[05:05:14] - Importing field `description_h2`</div>
<div class='progress-msg'>[05:05:14] - Importing field `price1_h3`</div>
<div class='progress-msg'>[05:05:14] - Importing field `price2_h3`</div>
<div class='progress-msg'>[05:05:14] - Importing field `price1_description`</div>
<div class='progress-msg'>[05:05:14] - Importing field `price2_description`</div>
<div class='progress-msg'>[05:05:14] - Importing field `name`</div>
<div class='progress-msg'>[05:05:14] - Importing field `mobile_no`</div>
<div class='progress-msg'>[05:05:14] - Importing field `link`</div>
<div class='progress-msg'>[05:05:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:05:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:05:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:05:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:05:14] <b>UPDATED</b> `Pabna cleaning service In BD` `Page` (ID: 269)</div>
<div class='progress-msg'>[05:05:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:05:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:05:14] Cleaning temporary data...</div>
