<div class='progress-msg'>Tue, 22 Oct 2019 09:08:39 +0000</div>
<div class='progress-msg'>[09:08:39] Composing titles...</div>
<div class='progress-msg'>[09:08:39] Composing excerpts...</div>
<div class='progress-msg'>[09:08:39] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:08:39] Composing slugs...</div>
<div class='progress-msg'>[09:08:39] Composing menu order...</div>
<div class='progress-msg'>[09:08:39] Composing contents...</div>
<div class='progress-msg'>[09:08:39] Composing dates...</div>
<div class='progress-msg'>[09:08:39] Composing custom parameters...</div>
<div class='progress-msg'>[09:08:39] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:08:39] Composing unique keys...</div>
<div class='progress-msg'>[09:08:39] Processing posts...</div>
<div class='progress-msg'>[09:08:39] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:08:39] Composing advanced custom fields...</div>
<div class='progress-msg'>[09:08:39] ---</div>
<div class='progress-msg'>[09:08:39] Record #1</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:08:39] Combine all data for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Find corresponding article among database for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Duplicate post was found for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Preserve taxonomies of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve date of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve content of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve title of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve slug of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve excerpt of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve menu order of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post parent of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post type of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve comment status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve ping status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post author of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Applying filter `pmxi_article_data` for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] <b>UPDATING</b> `Chittagong cleaning service In BD` `Page`</div>
<div class='progress-msg'>[09:08:39] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:08:39] - Importing field `heading_h1`</div>
<div class='progress-msg'>[09:08:39] - Importing field `description_h2`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `name`</div>
<div class='progress-msg'>[09:08:39] - Importing field `mobile_no`</div>
<div class='progress-msg'>[09:08:39] - Importing field `link`</div>
<div class='progress-msg'>[09:08:39] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:08:39] <b>UPDATED</b> `Chittagong cleaning service In BD` `Page` (ID: 313)</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:08:39] ---</div>
<div class='progress-msg'>[09:08:39] Record #2</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:08:39] Combine all data for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Find corresponding article among database for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Duplicate post was found for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Preserve taxonomies of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve date of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve content of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve title of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve slug of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve excerpt of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve menu order of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post parent of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post type of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve comment status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve ping status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post author of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Applying filter `pmxi_article_data` for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] <b>UPDATING</b> `Comilla cleaning service In BD` `Page`</div>
<div class='progress-msg'>[09:08:39] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:08:39] - Importing field `heading_h1`</div>
<div class='progress-msg'>[09:08:39] - Importing field `description_h2`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `name`</div>
<div class='progress-msg'>[09:08:39] - Importing field `mobile_no`</div>
<div class='progress-msg'>[09:08:39] - Importing field `link`</div>
<div class='progress-msg'>[09:08:39] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:08:39] <b>UPDATED</b> `Comilla cleaning service In BD` `Page` (ID: 314)</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:08:39] ---</div>
<div class='progress-msg'>[09:08:39] Record #3</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:08:39] Combine all data for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Find corresponding article among database for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Duplicate post was found for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Preserve taxonomies of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve date of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve content of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve title of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve slug of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve excerpt of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve menu order of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post parent of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post type of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve comment status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve ping status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post author of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Applying filter `pmxi_article_data` for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] <b>UPDATING</b> `Rajbari cleaning service In BD` `Page`</div>
<div class='progress-msg'>[09:08:39] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:08:39] - Importing field `heading_h1`</div>
<div class='progress-msg'>[09:08:39] - Importing field `description_h2`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `name`</div>
<div class='progress-msg'>[09:08:39] - Importing field `mobile_no`</div>
<div class='progress-msg'>[09:08:39] - Importing field `link`</div>
<div class='progress-msg'>[09:08:39] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:08:39] <b>UPDATED</b> `Rajbari cleaning service In BD` `Page` (ID: 315)</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:08:39] ---</div>
<div class='progress-msg'>[09:08:39] Record #4</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:08:39] Combine all data for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Find corresponding article among database for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Duplicate post was found for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Preserve taxonomies of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve date of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve content of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve title of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve slug of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve excerpt of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve menu order of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post parent of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post type of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve comment status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve ping status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post author of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Applying filter `pmxi_article_data` for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] <b>UPDATING</b> `Faridpur cleaning service In BD` `Page`</div>
<div class='progress-msg'>[09:08:39] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:08:39] - Importing field `heading_h1`</div>
<div class='progress-msg'>[09:08:39] - Importing field `description_h2`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `name`</div>
<div class='progress-msg'>[09:08:39] - Importing field `mobile_no`</div>
<div class='progress-msg'>[09:08:39] - Importing field `link`</div>
<div class='progress-msg'>[09:08:39] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:08:39] <b>UPDATED</b> `Faridpur cleaning service In BD` `Page` (ID: 316)</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:08:39] ---</div>
<div class='progress-msg'>[09:08:39] Record #5</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:08:39] Combine all data for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Find corresponding article among database for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Duplicate post was found for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[09:08:39] Preserve taxonomies of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve date of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve content of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve title of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve slug of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve excerpt of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve menu order of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post parent of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post type of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve comment status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve ping status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Preserve post author of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] Applying filter `pmxi_article_data` for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[09:08:39] <b>UPDATING</b> `Pabna cleaning service In BD` `Page`</div>
<div class='progress-msg'>[09:08:39] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:08:39] - Importing field `heading_h1`</div>
<div class='progress-msg'>[09:08:39] - Importing field `description_h2`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_h3`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price1_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `price2_description`</div>
<div class='progress-msg'>[09:08:39] - Importing field `name`</div>
<div class='progress-msg'>[09:08:39] - Importing field `mobile_no`</div>
<div class='progress-msg'>[09:08:39] - Importing field `link`</div>
<div class='progress-msg'>[09:08:39] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:08:39] <b>UPDATED</b> `Pabna cleaning service In BD` `Page` (ID: 317)</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:08:39] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:08:39] Cleaning temporary data...</div>
