<div class='progress-msg'>Thu, 17 Oct 2019 09:13:24 +0000</div>
<div class='progress-msg'>[09:13:24] Composing titles...</div>
<div class='progress-msg'>[09:13:24] Composing excerpts...</div>
<div class='progress-msg'>[09:13:24] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:13:24] Composing authors...</div>
<div class='progress-msg'>[09:13:24] Composing slugs...</div>
<div class='progress-msg'>[09:13:24] Composing menu order...</div>
<div class='progress-msg'>[09:13:24] Composing contents...</div>
<div class='progress-msg'>[09:13:24] Composing dates...</div>
<div class='progress-msg'>[09:13:24] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[09:13:24] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[09:13:24] Composing custom parameters...</div>
<div class='progress-msg'>[09:13:24] Composing URLs for images...</div>
<div class='progress-msg'>[09:13:24] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:13:24] Composing unique keys...</div>
<div class='progress-msg'>[09:13:24] Processing posts...</div>
<div class='progress-msg'>[09:13:24] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:13:24] ---</div>
<div class='progress-msg'>[09:13:24] Record #1</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:13:24] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:13:24] Combine all data for post ``...</div>
<div class='progress-msg'>[09:13:24] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[09:13:24] Duplicate post wasn't found with unique key `- 47 - `...</div>
<div class='progress-msg'>[09:13:24] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:13:24] <b>CREATING</b> `` `Page`</div>
<div class='progress-msg'>[09:13:24] Associate post `` with current import ...</div>
<div class='progress-msg'>[09:13:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:13:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:13:24] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:13:24] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:13:24] <b>CREATED</b> `` `Page` (ID: 75)</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:13:24] ---</div>
<div class='progress-msg'>[09:13:24] Record #2</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:13:24] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:13:24] Combine all data for post ``...</div>
<div class='progress-msg'>[09:13:24] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[09:13:24] Duplicate post wasn't found with unique key `-  - `...</div>
<div class='progress-msg'>[09:13:24] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:13:24] <b>CREATING</b> `` `Page`</div>
<div class='progress-msg'>[09:13:24] Associate post `` with current import ...</div>
<div class='progress-msg'>[09:13:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:13:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:13:24] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:13:24] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:13:24] <b>CREATED</b> `` `Page` (ID: 76)</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:13:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:13:24] Cleaning temporary data...</div>
