<div class='progress-msg'>Tue, 22 Oct 2019 03:40:32 +0000</div>
<div class='progress-msg'>[03:40:32] Composing titles...</div>
<div class='progress-msg'>[03:40:32] Composing excerpts...</div>
<div class='progress-msg'>[03:40:32] Composing duplicate indicators...</div>
<div class='progress-msg'>[03:40:32] Composing slugs...</div>
<div class='progress-msg'>[03:40:32] Composing menu order...</div>
<div class='progress-msg'>[03:40:32] Composing contents...</div>
<div class='progress-msg'>[03:40:32] Composing dates...</div>
<div class='progress-msg'>[03:40:32] Composing custom parameters...</div>
<div class='progress-msg'>[03:40:32] Composing URLs for attachments files...</div>
<div class='progress-msg'>[03:40:32] Composing unique keys...</div>
<div class='progress-msg'>[03:40:32] Processing posts...</div>
<div class='progress-msg'>[03:40:32] Data parsing via add-ons...</div>
<div class='progress-msg'>[03:40:32] Composing advanced custom fields...</div>
<div class='progress-msg'>[03:40:32] ---</div>
<div class='progress-msg'>[03:40:32] Record #1</div>
<div class='progress-msg'>[03:40:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:40:32] Combine all data for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:32] Find corresponding article among database for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:32] Duplicate post was found for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:32] Preserve taxonomies of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve date of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve status of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve content of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve title of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve slug of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve excerpt of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve menu order of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve post parent of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve post type of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve comment status of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve ping status of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Preserve post author of already existing article for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] Applying filter `pmxi_article_data` for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:32] <b>UPDATING</b> `Elwood Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:40:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:40:33] - Importing field `postcode`</div>
<div class='progress-msg'>[03:40:33] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:40:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:40:33] <b>UPDATED</b> `Elwood Ben Test with Rony` `Page` (ID: 248)</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:40:33] ---</div>
<div class='progress-msg'>[03:40:33] Record #2</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:40:33] Combine all data for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Find corresponding article among database for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Duplicate post was found for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Preserve taxonomies of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve date of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve status of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve content of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve title of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve slug of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve excerpt of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve menu order of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post parent of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post type of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve comment status of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve ping status of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post author of already existing article for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Applying filter `pmxi_article_data` for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] <b>UPDATING</b> `Ringwood Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:40:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:40:33] - Importing field `postcode`</div>
<div class='progress-msg'>[03:40:33] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:40:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:40:33] <b>UPDATED</b> `Ringwood Ben Test with Rony` `Page` (ID: 249)</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:40:33] ---</div>
<div class='progress-msg'>[03:40:33] Record #3</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:40:33] Combine all data for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Find corresponding article among database for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Duplicate post was found for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Preserve taxonomies of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve date of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve status of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve content of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve title of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve slug of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve excerpt of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve menu order of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post parent of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post type of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve comment status of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve ping status of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post author of already existing article for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Applying filter `pmxi_article_data` for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] <b>UPDATING</b> `Melbourne Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:40:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:40:33] - Importing field `postcode`</div>
<div class='progress-msg'>[03:40:33] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:40:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:40:33] <b>UPDATED</b> `Melbourne Ben Test with Rony` `Page` (ID: 250)</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:40:33] ---</div>
<div class='progress-msg'>[03:40:33] Record #4</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:40:33] Combine all data for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Find corresponding article among database for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Duplicate post was found for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:40:33] Preserve taxonomies of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve date of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve status of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve content of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve title of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve slug of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve excerpt of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve menu order of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post parent of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post type of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve comment status of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve ping status of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Preserve post author of already existing article for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] Applying filter `pmxi_article_data` for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:40:33] <b>UPDATING</b> `Geelong Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:40:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:40:33] - Importing field `postcode`</div>
<div class='progress-msg'>[03:40:33] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:40:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:40:33] <b>UPDATED</b> `Geelong Ben Test with Rony` `Page` (ID: 251)</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:40:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:40:33] Cleaning temporary data...</div>
