<div class='progress-msg'>Wed, 20 Nov 2019 06:16:10 +0000</div>
<div class='progress-msg'>[06:16:10] Composing titles...</div>
<div class='progress-msg'>[06:16:10] Composing excerpts...</div>
<div class='progress-msg'>[06:16:10] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:16:10] Composing authors...</div>
<div class='progress-msg'>[06:16:10] Composing slugs...</div>
<div class='progress-msg'>[06:16:10] Composing menu order...</div>
<div class='progress-msg'>[06:16:10] Composing contents...</div>
<div class='progress-msg'>[06:16:10] Composing dates...</div>
<div class='progress-msg'>[06:16:10] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[06:16:10] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[06:16:10] Composing custom parameters...</div>
<div class='progress-msg'>[06:16:10] Composing URLs for images...</div>
<div class='progress-msg'>[06:16:10] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:16:10] Composing unique keys...</div>
<div class='progress-msg'>[06:16:10] Processing posts...</div>
<div class='progress-msg'>[06:16:10] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:16:10] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:16:10] ---</div>
<div class='progress-msg'>[06:16:10] Record #1</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:16:10] Combine all data for post `Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:16:10] Find corresponding article among database for post `Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:16:10] Duplicate post was found for post `Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:16:10] Deleting attachments for `Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:16:10] Deleting images for `Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:16:10] Applying filter `pmxi_article_data` for `Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:16:10] <b>UPDATING</b> `Mobile Skips Elwood` `Page`</div>
<div class='progress-msg'>[06:16:10] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:16:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:16:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:16:10] <b>UPDATED</b> `Mobile Skips Elwood` `Page` (ID: 932)</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:16:10] ---</div>
<div class='progress-msg'>[06:16:10] Record #2</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:16:10] Combine all data for post `Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:16:10] Find corresponding article among database for post `Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:16:10] Duplicate post was found for post `Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:16:10] Deleting attachments for `Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:16:10] Deleting images for `Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:16:10] Applying filter `pmxi_article_data` for `Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:16:10] <b>UPDATING</b> `Mobile Skips Ringwood` `Page`</div>
<div class='progress-msg'>[06:16:10] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:16:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:16:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:16:10] <b>UPDATED</b> `Mobile Skips Ringwood` `Page` (ID: 933)</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:16:10] ---</div>
<div class='progress-msg'>[06:16:10] Record #3</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:16:10] Combine all data for post `Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:16:10] Find corresponding article among database for post `Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:16:10] Duplicate post was found for post `Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:16:10] Deleting attachments for `Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:16:10] Deleting images for `Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:16:10] Applying filter `pmxi_article_data` for `Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:16:10] <b>UPDATING</b> `Mobile Skips Melbourne` `Page`</div>
<div class='progress-msg'>[06:16:10] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:16:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:16:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:16:10] <b>UPDATED</b> `Mobile Skips Melbourne` `Page` (ID: 934)</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:16:10] ---</div>
<div class='progress-msg'>[06:16:10] Record #4</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:16:10] Combine all data for post `Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:16:10] Find corresponding article among database for post `Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:16:10] Duplicate post was found for post `Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:16:10] Deleting attachments for `Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:16:10] Deleting images for `Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:16:10] Applying filter `pmxi_article_data` for `Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:16:10] <b>UPDATING</b> `Mobile Skips Geelong` `Page`</div>
<div class='progress-msg'>[06:16:10] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:16:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:16:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:16:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:16:10] <b>UPDATED</b> `Mobile Skips Geelong` `Page` (ID: 935)</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:16:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:16:10] Cleaning temporary data...</div>
