<div class='progress-msg'>Mon, 21 Oct 2019 05:27:04 +0000</div>
<div class='progress-msg'>[05:27:04] Composing titles...</div>
<div class='progress-msg'>[05:27:04] Composing excerpts...</div>
<div class='progress-msg'>[05:27:04] Composing duplicate indicators...</div>
<div class='progress-msg'>[05:27:04] Composing authors...</div>
<div class='progress-msg'>[05:27:04] Composing slugs...</div>
<div class='progress-msg'>[05:27:04] Composing menu order...</div>
<div class='progress-msg'>[05:27:04] Composing contents...</div>
<div class='progress-msg'>[05:27:04] Composing dates...</div>
<div class='progress-msg'>[05:27:04] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[05:27:04] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[05:27:04] Composing custom parameters...</div>
<div class='progress-msg'>[05:27:04] Composing URLs for images...</div>
<div class='progress-msg'>[05:27:04] Composing URLs for attachments files...</div>
<div class='progress-msg'>[05:27:04] Composing unique keys...</div>
<div class='progress-msg'>[05:27:04] Processing posts...</div>
<div class='progress-msg'>[05:27:04] Data parsing via add-ons...</div>
<div class='progress-msg'>[05:27:04] Composing advanced custom fields...</div>
<div class='progress-msg'>[05:27:04] ---</div>
<div class='progress-msg'>[05:27:04] Record #1</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:27:04] Combine all data for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[05:27:04] Find corresponding article among previously imported for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[05:27:04] Duplicate post wasn't found with unique key `Bens Test Page 2 -  - `...</div>
<div class='progress-msg'>[05:27:04] Applying filter `pmxi_article_data` for `Bens Test Page 2`</div>
<div class='progress-msg'>[05:27:04] <b>CREATING</b> `Bens Test Page 2` `Page`</div>
<div class='progress-msg'>[05:27:04] Associate post `Bens Test Page 2` with current import ...</div>
<div class='progress-msg'>[05:27:04] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:27:04] - Importing field `postcode`</div>
<div class='progress-msg'>[05:27:04] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:27:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:27:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:27:04] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:27:04] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:27:04] <b>CREATED</b> `Bens Test Page 2` `Page` (ID: 132)</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:27:04] ---</div>
<div class='progress-msg'>[05:27:04] Record #2</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:27:04] Combine all data for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[05:27:04] Find corresponding article among previously imported for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[05:27:04] Duplicate post wasn't found with unique key `Bens Test Page 3 -  - `...</div>
<div class='progress-msg'>[05:27:04] Applying filter `pmxi_article_data` for `Bens Test Page 3`</div>
<div class='progress-msg'>[05:27:04] <b>CREATING</b> `Bens Test Page 3` `Page`</div>
<div class='progress-msg'>[05:27:04] Associate post `Bens Test Page 3` with current import ...</div>
<div class='progress-msg'>[05:27:04] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:27:04] - Importing field `postcode`</div>
<div class='progress-msg'>[05:27:04] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:27:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:27:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:27:04] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:27:04] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:27:04] <b>CREATED</b> `Bens Test Page 3` `Page` (ID: 133)</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:27:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:27:04] Cleaning temporary data...</div>
