<div class='progress-msg'>Mon, 21 Oct 2019 06:00:03 +0000</div>
<div class='progress-msg'>[06:00:03] Composing titles...</div>
<div class='progress-msg'>[06:00:03] Composing excerpts...</div>
<div class='progress-msg'>[06:00:03] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:00:03] Composing authors...</div>
<div class='progress-msg'>[06:00:03] Composing slugs...</div>
<div class='progress-msg'>[06:00:03] Composing menu order...</div>
<div class='progress-msg'>[06:00:03] Composing contents...</div>
<div class='progress-msg'>[06:00:03] Composing dates...</div>
<div class='progress-msg'>[06:00:03] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[06:00:03] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[06:00:03] Composing custom parameters...</div>
<div class='progress-msg'>[06:00:03] Composing URLs for images...</div>
<div class='progress-msg'>[06:00:03] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:00:03] Composing unique keys...</div>
<div class='progress-msg'>[06:00:03] Processing posts...</div>
<div class='progress-msg'>[06:00:03] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:00:03] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:00:03] ---</div>
<div class='progress-msg'>[06:00:03] Record #1</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:00:03] Combine all data for post `Bens Test Page-2`...</div>
<div class='progress-msg'>[06:00:03] Find corresponding article among previously imported for post `Bens Test Page-2`...</div>
<div class='progress-msg'>[06:00:03] Duplicate post wasn't found with unique key `Bens Test Page-2 - `...</div>
<div class='progress-msg'>[06:00:03] Applying filter `pmxi_article_data` for `Bens Test Page-2`</div>
<div class='progress-msg'>[06:00:03] <b>CREATING</b> `Bens Test Page-2` `Page`</div>
<div class='progress-msg'>[06:00:03] Associate post `Bens Test Page-2` with current import ...</div>
<div class='progress-msg'>[06:00:03] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:00:03] - Importing field `postcode`</div>
<div class='progress-msg'>[06:00:03] - Importing field `Suburb`</div>
<div class='progress-msg'>[06:00:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:00:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:00:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:00:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:00:03] <b>CREATED</b> `Bens Test Page-2` `Page` (ID: 142)</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:00:03] ---</div>
<div class='progress-msg'>[06:00:03] Record #2</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:00:03] Combine all data for post `Bens Test Page-3`...</div>
<div class='progress-msg'>[06:00:03] Find corresponding article among previously imported for post `Bens Test Page-3`...</div>
<div class='progress-msg'>[06:00:03] Duplicate post wasn't found with unique key `Bens Test Page-3 - `...</div>
<div class='progress-msg'>[06:00:03] Applying filter `pmxi_article_data` for `Bens Test Page-3`</div>
<div class='progress-msg'>[06:00:03] <b>CREATING</b> `Bens Test Page-3` `Page`</div>
<div class='progress-msg'>[06:00:03] Associate post `Bens Test Page-3` with current import ...</div>
<div class='progress-msg'>[06:00:03] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:00:03] - Importing field `postcode`</div>
<div class='progress-msg'>[06:00:03] - Importing field `Suburb`</div>
<div class='progress-msg'>[06:00:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:00:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:00:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:00:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:00:03] <b>CREATED</b> `Bens Test Page-3` `Page` (ID: 143)</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:00:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:00:03] Cleaning temporary data...</div>
