<div class='progress-msg'>Thu, 17 Oct 2019 09:39:37 +0000</div>
<div class='progress-msg'>[09:39:37] Composing titles...</div>
<div class='progress-msg'>[09:39:37] Composing excerpts...</div>
<div class='progress-msg'>[09:39:37] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:39:37] Composing authors...</div>
<div class='progress-msg'>[09:39:37] Composing slugs...</div>
<div class='progress-msg'>[09:39:37] Composing menu order...</div>
<div class='progress-msg'>[09:39:37] Composing contents...</div>
<div class='progress-msg'>[09:39:37] Composing dates...</div>
<div class='progress-msg'>[09:39:37] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[09:39:37] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[09:39:37] Composing custom parameters...</div>
<div class='progress-msg'>[09:39:37] Composing URLs for images...</div>
<div class='progress-msg'>[09:39:37] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:39:37] Composing unique keys...</div>
<div class='progress-msg'>[09:39:37] Processing posts...</div>
<div class='progress-msg'>[09:39:37] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:39:37] ---</div>
<div class='progress-msg'>[09:39:37] Record #1</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:39:37] Combine all data for post `Schema Data 1`...</div>
<div class='progress-msg'>[09:39:37] Find corresponding article among previously imported for post `Schema Data 1`...</div>
<div class='progress-msg'>[09:39:37] Duplicate post wasn't found with unique key `Schema Data 1 - 47`...</div>
<div class='progress-msg'>[09:39:37] Applying filter `pmxi_article_data` for `Schema Data 1`</div>
<div class='progress-msg'>[09:39:37] <b>CREATING</b> `Schema Data 1` `Page`</div>
<div class='progress-msg'>[09:39:37] Associate post `Schema Data 1` with current import ...</div>
<div class='progress-msg'>[09:39:37] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi Ben heading hi` will be updated with value `hi Ben heading hi` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi description h2` will be updated with value `hi description h2` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi price1 h3` will be updated with value `hi price1 h3` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi price2 h3` will be updated with value `hi price2 h3` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi price1 description` will be updated with value `hi price1 description` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi price2 description` will be updated with value `hi price2 description` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi name` will be updated with value `hi name` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi mobile` will be updated with value `hi mobile` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi link` will be updated with value `hi link` for post `Schema Data 1` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:39:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:39:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:39:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:39:37] <b>CREATED</b> `Schema Data 1` `Page` (ID: 87)</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:39:37] ---</div>
<div class='progress-msg'>[09:39:37] Record #2</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:39:37] Combine all data for post `Schema Data 2`...</div>
<div class='progress-msg'>[09:39:37] Find corresponding article among previously imported for post `Schema Data 2`...</div>
<div class='progress-msg'>[09:39:37] Duplicate post wasn't found with unique key `Schema Data 2 - `...</div>
<div class='progress-msg'>[09:39:37] Applying filter `pmxi_article_data` for `Schema Data 2`</div>
<div class='progress-msg'>[09:39:37] <b>CREATING</b> `Schema Data 2` `Page`</div>
<div class='progress-msg'>[09:39:37] Associate post `Schema Data 2` with current import ...</div>
<div class='progress-msg'>[09:39:37] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `This is for 2nd one` will be updated with value `This is for 2nd one` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi This is good` will be updated with value `hi This is good` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `Hello Spiderman` will be updated with value `Hello Spiderman` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `Hello Thanos` will be updated with value `Hello Thanos` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hello Marvel` will be updated with value `hello Marvel` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `Hello Superman` will be updated with value `Hello Superman` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi name` will be updated with value `hi name` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi 12121212` will be updated with value `hi 12121212` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[09:39:37] - Custom field `hi link yes it is` will be updated with value `hi link yes it is` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[09:39:37] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[09:39:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:39:37] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:39:37] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:39:37] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:39:37] <b>CREATED</b> `Schema Data 2` `Page` (ID: 88)</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:39:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:39:37] Cleaning temporary data...</div>
