<div class='progress-msg'>Tue, 22 Oct 2019 00:29:17 +0000</div>
<div class='progress-msg'>[00:29:17] Composing titles...</div>
<div class='progress-msg'>[00:29:17] Composing excerpts...</div>
<div class='progress-msg'>[00:29:17] Composing duplicate indicators...</div>
<div class='progress-msg'>[00:29:17] Composing authors...</div>
<div class='progress-msg'>[00:29:17] Composing slugs...</div>
<div class='progress-msg'>[00:29:17] Composing menu order...</div>
<div class='progress-msg'>[00:29:17] Composing contents...</div>
<div class='progress-msg'>[00:29:17] Composing dates...</div>
<div class='progress-msg'>[00:29:17] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[00:29:17] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[00:29:17] Composing custom parameters...</div>
<div class='progress-msg'>[00:29:17] Composing URLs for images...</div>
<div class='progress-msg'>[00:29:17] Composing URLs for attachments files...</div>
<div class='progress-msg'>[00:29:17] Composing unique keys...</div>
<div class='progress-msg'>[00:29:17] Processing posts...</div>
<div class='progress-msg'>[00:29:17] Data parsing via add-ons...</div>
<div class='progress-msg'>[00:29:17] Composing advanced custom fields...</div>
<div class='progress-msg'>[00:29:17] ---</div>
<div class='progress-msg'>[00:29:17] Record #1</div>
<div class='progress-msg'>[00:29:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:29:17] Combine all data for post `Elwood Test`...</div>
<div class='progress-msg'>[00:29:17] Find corresponding article among previously imported for post `Elwood Test`...</div>
<div class='progress-msg'>[00:29:17] Duplicate post wasn't found with unique key `Elwood Test - 198 - http://msmpb.krums.com.au/elwood-test/`...</div>
<div class='progress-msg'>[00:29:17] Applying filter `pmxi_article_data` for `Elwood Test`</div>
<div class='progress-msg'>[00:29:17] <b>CREATING</b> `Elwood Test` `Page`</div>
<div class='progress-msg'>[00:29:17] Associate post `Elwood Test` with current import ...</div>
<div class='progress-msg'>[00:29:17] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[00:29:17] - Importing field `postcode`</div>
<div class='progress-msg'>[00:29:17] - Importing field `Suburb`</div>
<div class='progress-msg'>[00:29:17] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:29:17] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[00:29:17] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[00:29:17] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[00:29:17] <b>CREATED</b> `Elwood Test` `Page` (ID: 214)</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:29:18] ---</div>
<div class='progress-msg'>[00:29:18] Record #2</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:29:18] Combine all data for post `Ringwood Test`...</div>
<div class='progress-msg'>[00:29:18] Find corresponding article among previously imported for post `Ringwood Test`...</div>
<div class='progress-msg'>[00:29:18] Duplicate post wasn't found with unique key `Ringwood Test - 199 - http://msmpb.krums.com.au/ringwood-test/`...</div>
<div class='progress-msg'>[00:29:18] Applying filter `pmxi_article_data` for `Ringwood Test`</div>
<div class='progress-msg'>[00:29:18] <b>CREATING</b> `Ringwood Test` `Page`</div>
<div class='progress-msg'>[00:29:18] Associate post `Ringwood Test` with current import ...</div>
<div class='progress-msg'>[00:29:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[00:29:18] - Importing field `postcode`</div>
<div class='progress-msg'>[00:29:18] - Importing field `Suburb`</div>
<div class='progress-msg'>[00:29:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:29:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[00:29:18] <b>CREATED</b> `Ringwood Test` `Page` (ID: 216)</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:29:18] ---</div>
<div class='progress-msg'>[00:29:18] Record #3</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:29:18] Combine all data for post `Melbourne Test`...</div>
<div class='progress-msg'>[00:29:18] Find corresponding article among previously imported for post `Melbourne Test`...</div>
<div class='progress-msg'>[00:29:18] Duplicate post wasn't found with unique key `Melbourne Test - 200 - http://msmpb.krums.com.au/melbourne-test/`...</div>
<div class='progress-msg'>[00:29:18] Applying filter `pmxi_article_data` for `Melbourne Test`</div>
<div class='progress-msg'>[00:29:18] <b>CREATING</b> `Melbourne Test` `Page`</div>
<div class='progress-msg'>[00:29:18] Associate post `Melbourne Test` with current import ...</div>
<div class='progress-msg'>[00:29:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[00:29:18] - Importing field `postcode`</div>
<div class='progress-msg'>[00:29:18] - Importing field `Suburb`</div>
<div class='progress-msg'>[00:29:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:29:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[00:29:18] <b>CREATED</b> `Melbourne Test` `Page` (ID: 218)</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:29:18] ---</div>
<div class='progress-msg'>[00:29:18] Record #4</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:29:18] Combine all data for post `Geelong Test`...</div>
<div class='progress-msg'>[00:29:18] Find corresponding article among previously imported for post `Geelong Test`...</div>
<div class='progress-msg'>[00:29:18] Duplicate post wasn't found with unique key `Geelong Test - 201 - http://msmpb.krums.com.au/geelong-test/`...</div>
<div class='progress-msg'>[00:29:18] Applying filter `pmxi_article_data` for `Geelong Test`</div>
<div class='progress-msg'>[00:29:18] <b>CREATING</b> `Geelong Test` `Page`</div>
<div class='progress-msg'>[00:29:18] Associate post `Geelong Test` with current import ...</div>
<div class='progress-msg'>[00:29:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[00:29:18] - Importing field `postcode`</div>
<div class='progress-msg'>[00:29:18] - Importing field `Suburb`</div>
<div class='progress-msg'>[00:29:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:29:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[00:29:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[00:29:18] <b>CREATED</b> `Geelong Test` `Page` (ID: 220)</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:29:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:29:18] Cleaning temporary data...</div>
