<div class='progress-msg'>Mon, 21 Oct 2019 05:57:57 +0000</div>
<div class='progress-msg'>[05:57:57] Composing titles...</div>
<div class='progress-msg'>[05:57:57] Composing excerpts...</div>
<div class='progress-msg'>[05:57:57] Composing duplicate indicators...</div>
<div class='progress-msg'>[05:57:57] Composing authors...</div>
<div class='progress-msg'>[05:57:57] Composing slugs...</div>
<div class='progress-msg'>[05:57:57] Composing menu order...</div>
<div class='progress-msg'>[05:57:57] Composing contents...</div>
<div class='progress-msg'>[05:57:57] Composing dates...</div>
<div class='progress-msg'>[05:57:57] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[05:57:57] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[05:57:57] Composing custom parameters...</div>
<div class='progress-msg'>[05:57:57] Composing URLs for images...</div>
<div class='progress-msg'>[05:57:57] Composing URLs for attachments files...</div>
<div class='progress-msg'>[05:57:57] Composing unique keys...</div>
<div class='progress-msg'>[05:57:57] Processing posts...</div>
<div class='progress-msg'>[05:57:57] Data parsing via add-ons...</div>
<div class='progress-msg'>[05:57:57] Composing advanced custom fields...</div>
<div class='progress-msg'>[05:57:57] ---</div>
<div class='progress-msg'>[05:57:57] Record #1</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:57:57] Combine all data for post `Bens Test Page-2`...</div>
<div class='progress-msg'>[05:57:57] Find corresponding article among previously imported for post `Bens Test Page-2`...</div>
<div class='progress-msg'>[05:57:57] Duplicate post wasn't found with unique key `Bens Test Page-2 - `...</div>
<div class='progress-msg'>[05:57:57] Applying filter `pmxi_article_data` for `Bens Test Page-2`</div>
<div class='progress-msg'>[05:57:57] <b>CREATING</b> `Bens Test Page-2` `Page`</div>
<div class='progress-msg'>[05:57:57] Associate post `Bens Test Page-2` with current import ...</div>
<div class='progress-msg'>[05:57:57] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[05:57:57] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:57:57] - Importing field `postcode`</div>
<div class='progress-msg'>[05:57:57] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_wp_page_template` has been skipped because of duplicate value `default` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_controls_usage` has been skipped because of duplicate value `a:0:{}` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi Ben heading hi` will be updated with value `hi Ben heading hi` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi description h2` will be updated with value `hi description h2` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price1 h3` will be updated with value `hi price1 h3` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price2 h3` will be updated with value `hi price2 h3` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price1 description` will be updated with value `hi price1 description` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price2 description` will be updated with value `hi price2 description` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi name` will be updated with value `hi name` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi mobile` will be updated with value `hi mobile` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi link` will be updated with value `hi link` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `heading_h1` will be updated with value `hi heading h1` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_heading_h1` will be updated with value `field_5da7ea8c297ef` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `description_h2` will be updated with value `hi description h2` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_description_h2` will be updated with value `field_5da7eb44e3d6a` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price1_h3` will be updated with value `hi price1 h3` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price1_h3` will be updated with value `field_5da7eb64e3d6b` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price2_h3` will be updated with value `hi price2 h3` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price2_h3` will be updated with value `field_5da7eb83e3d6c` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price1_description` will be updated with value `hi price1 description` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price1_description` will be updated with value `field_5da7eb91e3d6d` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price2_description` will be updated with value `hi price2 description` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price2_description` will be updated with value `field_5da7eb9de3d6e` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `name` will be updated with value `hi name` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_name` will be updated with value `field_5da7eba8e3d6f` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `mobile_no` will be updated with value `hi mobile` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_mobile_no` will be updated with value `field_5da7ebb2e3d70` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `link` will be updated with value `hi link` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_link` will be updated with value `field_5da7ebbee3d71` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_yoast_wpseo_content_score` will be updated with value `60` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_edit_mode` will be updated with value `builder` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_template_type` will be updated with value `page` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_version` will be updated with value `2.7.4` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_pro_version` will be updated with value `2.7.2` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_css` will be updated with value `a:0:{}` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `This is for 2nd one` will be updated with value `This is for 2nd one` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi This is good` will be updated with value `hi This is good` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Spiderman` will be updated with value `Hello Spiderman` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Thanos` will be updated with value `Hello Thanos` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hello Marvel` will be updated with value `hello Marvel` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Superman` will be updated with value `Hello Superman` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi 12121212` will be updated with value `hi 12121212` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi link yes it is` will be updated with value `hi link yes it is` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `postcode` will be updated with value `3183` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_postcode` has been skipped because of duplicate value `field_5dad349b1ac74` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Suburb` will be updated with value `Elwood` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_Suburb` has been skipped because of duplicate value `field_5dad34b21ac75` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_wp_desired_post_slug` will be updated with value `bens-test` for post `Bens Test Page-2` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:57:57] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:57:57] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:57:57] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:57:57] <b>CREATED</b> `Bens Test Page-2` `Page` (ID: 138)</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:57:57] ---</div>
<div class='progress-msg'>[05:57:57] Record #2</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:57:57] Combine all data for post `Bens Test Page-3`...</div>
<div class='progress-msg'>[05:57:57] Find corresponding article among previously imported for post `Bens Test Page-3`...</div>
<div class='progress-msg'>[05:57:57] Duplicate post wasn't found with unique key `Bens Test Page-3 - `...</div>
<div class='progress-msg'>[05:57:57] Applying filter `pmxi_article_data` for `Bens Test Page-3`</div>
<div class='progress-msg'>[05:57:57] <b>CREATING</b> `Bens Test Page-3` `Page`</div>
<div class='progress-msg'>[05:57:57] Associate post `Bens Test Page-3` with current import ...</div>
<div class='progress-msg'>[05:57:57] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[05:57:57] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:57:57] - Importing field `postcode`</div>
<div class='progress-msg'>[05:57:57] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_wp_page_template` has been skipped because of duplicate value `default` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_controls_usage` has been skipped because of duplicate value `a:0:{}` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi Ben heading hi` will be updated with value `hi Ben heading hi` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi description h2` will be updated with value `hi description h2` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price1 h3` will be updated with value `hi price1 h3` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price2 h3` will be updated with value `hi price2 h3` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price1 description` will be updated with value `hi price1 description` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi price2 description` will be updated with value `hi price2 description` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi name` will be updated with value `hi name` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi mobile` will be updated with value `hi mobile` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi link` will be updated with value `hi link` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `heading_h1` will be updated with value `hi heading h1` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_heading_h1` will be updated with value `field_5da7ea8c297ef` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `description_h2` will be updated with value `hi description h2` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_description_h2` will be updated with value `field_5da7eb44e3d6a` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price1_h3` will be updated with value `hi price1 h3` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price1_h3` will be updated with value `field_5da7eb64e3d6b` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price2_h3` will be updated with value `hi price2 h3` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price2_h3` will be updated with value `field_5da7eb83e3d6c` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price1_description` will be updated with value `hi price1 description` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price1_description` will be updated with value `field_5da7eb91e3d6d` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `price2_description` will be updated with value `hi price2 description` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_price2_description` will be updated with value `field_5da7eb9de3d6e` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `name` will be updated with value `hi name` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_name` will be updated with value `field_5da7eba8e3d6f` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `mobile_no` will be updated with value `hi mobile` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_mobile_no` will be updated with value `field_5da7ebb2e3d70` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `link` will be updated with value `hi link` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_link` will be updated with value `field_5da7ebbee3d71` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_yoast_wpseo_content_score` will be updated with value `60` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_edit_mode` will be updated with value `builder` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_template_type` will be updated with value `page` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_version` will be updated with value `2.7.4` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_pro_version` will be updated with value `2.7.2` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_elementor_css` will be updated with value `a:0:{}` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `This is for 2nd one` will be updated with value `This is for 2nd one` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi This is good` will be updated with value `hi This is good` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Spiderman` will be updated with value `Hello Spiderman` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Thanos` will be updated with value `Hello Thanos` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hello Marvel` will be updated with value `hello Marvel` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Hello Superman` will be updated with value `Hello Superman` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi 12121212` will be updated with value `hi 12121212` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `hi link yes it is` will be updated with value `hi link yes it is` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `postcode` will be updated with value `3183` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_postcode` has been skipped because of duplicate value `field_5dad349b1ac74` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `Suburb` will be updated with value `Elwood` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_Suburb` has been skipped because of duplicate value `field_5dad34b21ac75` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:57:57] - Custom field `_wp_desired_post_slug` will be updated with value `bens-test` for post `Bens Test Page-3` ...</div>
<div class='progress-msg'>[05:57:57] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:57:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:57:57] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:57:57] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:57:57] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:57:57] <b>CREATED</b> `Bens Test Page-3` `Page` (ID: 139)</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:57:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:57:57] Cleaning temporary data...</div>
