<div class='progress-msg'>Tue, 22 Oct 2019 06:53:53 +0000</div>
<div class='progress-msg'>[06:53:53] Composing titles...</div>
<div class='progress-msg'>[06:53:53] Composing excerpts...</div>
<div class='progress-msg'>[06:53:53] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:53:53] Composing slugs...</div>
<div class='progress-msg'>[06:53:53] Composing menu order...</div>
<div class='progress-msg'>[06:53:53] Composing contents...</div>
<div class='progress-msg'>[06:53:53] Composing dates...</div>
<div class='progress-msg'>[06:53:53] Composing custom parameters...</div>
<div class='progress-msg'>[06:53:53] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:53:53] Composing unique keys...</div>
<div class='progress-msg'>[06:53:53] Processing posts...</div>
<div class='progress-msg'>[06:53:53] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:53:53] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:53:53] ---</div>
<div class='progress-msg'>[06:53:53] Record #1</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:53:53] Combine all data for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Find corresponding article among database for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Duplicate post was found for post `Chittagong cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Preserve taxonomies of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve date of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve content of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve title of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve slug of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve excerpt of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve menu order of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post parent of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post type of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve comment status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve ping status of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post author of already existing article for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Applying filter `pmxi_article_data` for `Chittagong cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] <b>UPDATING</b> `Chittagong cleaning service In BD` `Page`</div>
<div class='progress-msg'>[06:53:53] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:53:53] - Importing field `heading_h1`</div>
<div class='progress-msg'>[06:53:53] - Importing field `description_h2`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `name`</div>
<div class='progress-msg'>[06:53:53] - Importing field `mobile_no`</div>
<div class='progress-msg'>[06:53:53] - Importing field `link`</div>
<div class='progress-msg'>[06:53:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:53:53] <b>UPDATED</b> `Chittagong cleaning service In BD` `Page` (ID: 300)</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:53:53] ---</div>
<div class='progress-msg'>[06:53:53] Record #2</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:53:53] Combine all data for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Find corresponding article among database for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Duplicate post was found for post `Comilla cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Preserve taxonomies of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve date of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve content of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve title of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve slug of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve excerpt of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve menu order of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post parent of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post type of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve comment status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve ping status of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post author of already existing article for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Applying filter `pmxi_article_data` for `Comilla cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] <b>UPDATING</b> `Comilla cleaning service In BD` `Page`</div>
<div class='progress-msg'>[06:53:53] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:53:53] - Importing field `heading_h1`</div>
<div class='progress-msg'>[06:53:53] - Importing field `description_h2`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `name`</div>
<div class='progress-msg'>[06:53:53] - Importing field `mobile_no`</div>
<div class='progress-msg'>[06:53:53] - Importing field `link`</div>
<div class='progress-msg'>[06:53:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:53:53] <b>UPDATED</b> `Comilla cleaning service In BD` `Page` (ID: 301)</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:53:53] ---</div>
<div class='progress-msg'>[06:53:53] Record #3</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:53:53] Combine all data for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Find corresponding article among database for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Duplicate post was found for post `Rajbari cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Preserve taxonomies of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve date of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve content of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve title of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve slug of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve excerpt of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve menu order of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post parent of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post type of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve comment status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve ping status of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post author of already existing article for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Applying filter `pmxi_article_data` for `Rajbari cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] <b>UPDATING</b> `Rajbari cleaning service In BD` `Page`</div>
<div class='progress-msg'>[06:53:53] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:53:53] - Importing field `heading_h1`</div>
<div class='progress-msg'>[06:53:53] - Importing field `description_h2`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_h3`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price1_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `price2_description`</div>
<div class='progress-msg'>[06:53:53] - Importing field `name`</div>
<div class='progress-msg'>[06:53:53] - Importing field `mobile_no`</div>
<div class='progress-msg'>[06:53:53] - Importing field `link`</div>
<div class='progress-msg'>[06:53:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:53:53] <b>UPDATED</b> `Rajbari cleaning service In BD` `Page` (ID: 302)</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:53:53] ---</div>
<div class='progress-msg'>[06:53:53] Record #4</div>
<div class='progress-msg'>[06:53:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:53:53] Combine all data for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Find corresponding article among database for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Duplicate post was found for post `Faridpur cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:53] Preserve taxonomies of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve date of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve content of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve title of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve slug of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve excerpt of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve menu order of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post parent of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post type of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve comment status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve ping status of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Preserve post author of already existing article for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] Applying filter `pmxi_article_data` for `Faridpur cleaning service In BD`</div>
<div class='progress-msg'>[06:53:53] <b>UPDATING</b> `Faridpur cleaning service In BD` `Page`</div>
<div class='progress-msg'>[06:53:54] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:53:54] - Importing field `heading_h1`</div>
<div class='progress-msg'>[06:53:54] - Importing field `description_h2`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price1_h3`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price2_h3`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price1_description`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price2_description`</div>
<div class='progress-msg'>[06:53:54] - Importing field `name`</div>
<div class='progress-msg'>[06:53:54] - Importing field `mobile_no`</div>
<div class='progress-msg'>[06:53:54] - Importing field `link`</div>
<div class='progress-msg'>[06:53:54] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:53:54] <b>UPDATED</b> `Faridpur cleaning service In BD` `Page` (ID: 303)</div>
<div class='progress-msg'>[06:53:54] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:53:54] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:53:54] ---</div>
<div class='progress-msg'>[06:53:54] Record #5</div>
<div class='progress-msg'>[06:53:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:53:54] Combine all data for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:54] Find corresponding article among database for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:54] Duplicate post was found for post `Pabna cleaning service In BD`...</div>
<div class='progress-msg'>[06:53:54] Preserve taxonomies of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve date of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve content of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve title of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve slug of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve excerpt of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve menu order of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve post parent of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve post type of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve comment status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve ping status of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Preserve post author of already existing article for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] Applying filter `pmxi_article_data` for `Pabna cleaning service In BD`</div>
<div class='progress-msg'>[06:53:54] <b>UPDATING</b> `Pabna cleaning service In BD` `Page`</div>
<div class='progress-msg'>[06:53:54] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:53:54] - Importing field `heading_h1`</div>
<div class='progress-msg'>[06:53:54] - Importing field `description_h2`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price1_h3`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price2_h3`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price1_description`</div>
<div class='progress-msg'>[06:53:54] - Importing field `price2_description`</div>
<div class='progress-msg'>[06:53:54] - Importing field `name`</div>
<div class='progress-msg'>[06:53:54] - Importing field `mobile_no`</div>
<div class='progress-msg'>[06:53:54] - Importing field `link`</div>
<div class='progress-msg'>[06:53:54] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:53:54] <b>UPDATED</b> `Pabna cleaning service In BD` `Page` (ID: 304)</div>
<div class='progress-msg'>[06:53:54] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:53:54] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:53:54] Cleaning temporary data...</div>
