<div class='progress-msg'>Wed, 20 Nov 2019 06:26:18 +0000</div>
<div class='progress-msg'>[06:26:18] Composing titles...</div>
<div class='progress-msg'>[06:26:18] Composing excerpts...</div>
<div class='progress-msg'>[06:26:18] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:26:18] Composing authors...</div>
<div class='progress-msg'>[06:26:18] Composing slugs...</div>
<div class='progress-msg'>[06:26:18] Composing menu order...</div>
<div class='progress-msg'>[06:26:18] Composing contents...</div>
<div class='progress-msg'>[06:26:18] Composing dates...</div>
<div class='progress-msg'>[06:26:18] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[06:26:18] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[06:26:18] Composing custom parameters...</div>
<div class='progress-msg'>[06:26:18] Composing URLs for images...</div>
<div class='progress-msg'>[06:26:18] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:26:18] Composing unique keys...</div>
<div class='progress-msg'>[06:26:18] Processing posts...</div>
<div class='progress-msg'>[06:26:18] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:26:18] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:26:18] ---</div>
<div class='progress-msg'>[06:26:18] Record #1</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:26:18] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[06:26:18] Combine all data for post ``...</div>
<div class='progress-msg'>[06:26:18] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[06:26:18] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[06:26:18] Preserve taxonomies of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve date of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve content of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve slug of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve excerpt of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve menu order of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post parent of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post type of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve comment status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve ping status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post author of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[06:26:18] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[06:26:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:26:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:26:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:26:18] - Page category has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] - Page post_tag has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] <b>UPDATED</b> `` `Page` (ID: 941)</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:26:18] ---</div>
<div class='progress-msg'>[06:26:18] Record #2</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:26:18] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[06:26:18] Combine all data for post ``...</div>
<div class='progress-msg'>[06:26:18] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[06:26:18] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[06:26:18] Preserve taxonomies of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve date of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve content of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve slug of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve excerpt of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve menu order of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post parent of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post type of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve comment status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve ping status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post author of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[06:26:18] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[06:26:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:26:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:26:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:26:18] - Page category has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] - Page post_tag has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] <b>UPDATED</b> `` `Page` (ID: 942)</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:26:18] ---</div>
<div class='progress-msg'>[06:26:18] Record #3</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:26:18] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[06:26:18] Combine all data for post ``...</div>
<div class='progress-msg'>[06:26:18] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[06:26:18] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[06:26:18] Preserve taxonomies of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve date of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve content of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve slug of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve excerpt of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve menu order of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post parent of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post type of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve comment status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve ping status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post author of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[06:26:18] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[06:26:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:26:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:26:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:26:18] - Page category has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] - Page post_tag has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] <b>UPDATED</b> `` `Page` (ID: 943)</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:26:18] ---</div>
<div class='progress-msg'>[06:26:18] Record #4</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:26:18] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[06:26:18] Combine all data for post ``...</div>
<div class='progress-msg'>[06:26:18] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[06:26:18] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[06:26:18] Preserve taxonomies of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve date of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve content of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve slug of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve excerpt of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve menu order of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post parent of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post type of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve comment status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve ping status of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Preserve post author of already existing article for ``</div>
<div class='progress-msg'>[06:26:18] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[06:26:18] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[06:26:18] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:26:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:26:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:26:18] - Page category has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] - Page post_tag has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class='progress-msg'>[06:26:18] <b>UPDATED</b> `` `Page` (ID: 944)</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:26:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:26:18] Cleaning temporary data...</div>
