<div class='progress-msg'>Mon, 21 Oct 2019 05:54:40 +0000</div>
<div class='progress-msg'>[05:54:40] Composing titles...</div>
<div class='progress-msg'>[05:54:40] Composing excerpts...</div>
<div class='progress-msg'>[05:54:40] Composing duplicate indicators...</div>
<div class='progress-msg'>[05:54:40] Composing authors...</div>
<div class='progress-msg'>[05:54:40] Composing slugs...</div>
<div class='progress-msg'>[05:54:40] Composing menu order...</div>
<div class='progress-msg'>[05:54:40] Composing contents...</div>
<div class='progress-msg'>[05:54:40] Composing dates...</div>
<div class='progress-msg'>[05:54:40] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[05:54:40] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[05:54:40] Composing custom parameters...</div>
<div class='progress-msg'>[05:54:40] Composing URLs for images...</div>
<div class='progress-msg'>[05:54:40] Composing URLs for attachments files...</div>
<div class='progress-msg'>[05:54:40] Composing unique keys...</div>
<div class='progress-msg'>[05:54:40] Processing posts...</div>
<div class='progress-msg'>[05:54:40] Data parsing via add-ons...</div>
<div class='progress-msg'>[05:54:40] Composing advanced custom fields...</div>
<div class='progress-msg'>[05:54:40] ---</div>
<div class='progress-msg'>[05:54:40] Record #1</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:54:40] Combine all data for post `Bens Test Page`...</div>
<div class='progress-msg'>[05:54:40] Find corresponding article among previously imported for post `Bens Test Page`...</div>
<div class='progress-msg'>[05:54:40] Duplicate post wasn't found with unique key `Bens Test Page - `...</div>
<div class='progress-msg'>[05:54:40] Applying filter `pmxi_article_data` for `Bens Test Page`</div>
<div class='progress-msg'>[05:54:40] <b>CREATING</b> `Bens Test Page` `Page`</div>
<div class='progress-msg'>[05:54:40] Associate post `Bens Test Page` with current import ...</div>
<div class='progress-msg'>[05:54:40] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[05:54:40] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:54:40] - Importing field `postcode`</div>
<div class='progress-msg'>[05:54:40] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_wp_page_template` has been skipped because of duplicate value `elementor_canvas` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_controls_usage` will be updated with value `a:4:{s:7:&quot;heading&quot;;a:3:{s:5:&quot;count&quot;;i:1;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:1:{s:7:&quot;content&quot;;a:1:{s:13:&quot;section_title&quot;;a:1:{s:5:&quot;title&quot;;i:1;}}}}s:6:&quot;column&quot;;a:3:{s:5:&quot;count&quot;;i:2;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:0:{}}s:7:&quot;section&quot;;a:3:{s:5:&quot;count&quot;;i:2;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:0:{}}s:5:&quot;image&quot;;a:3:{s:5:&quot;count&quot;;i:1;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:1:{s:7:&quot;content&quot;;a:1:{s:13:&quot;section_image&quot;;a:1:{s:5:&quot;image&quot;;i:1;}}}}}` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_template_type` will be updated with value `page` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_version` will be updated with value `2.7.4` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_pro_version` will be updated with value `2.7.2` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_css` will be updated with value `a:6:{s:4:&quot;time&quot;;s:10:&quot;1571281967&quot;;s:5:&quot;fonts&quot;;a:0:{}s:5:&quot;icons&quot;;a:0:{}s:6:&quot;status&quot;;s:5:&quot;empty&quot;;i:0;s:0:&quot;&quot;;s:3:&quot;css&quot;;s:0:&quot;&quot;;}` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_wp_desired_post_slug` will be updated with value `bens-test` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:54:40] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:54:40] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:54:40] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:54:40] <b>CREATED</b> `Bens Test Page` `Page` (ID: 136)</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:54:40] ---</div>
<div class='progress-msg'>[05:54:40] Record #2</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[05:54:40] Combine all data for post `Bens Test Page`...</div>
<div class='progress-msg'>[05:54:40] Find corresponding article among previously imported for post `Bens Test Page`...</div>
<div class='progress-msg'>[05:54:40] Duplicate post was found for post Bens Test Page with unique key `Bens Test Page - `...</div>
<div class='progress-msg'>[05:54:40] Deleting attachments for `Bens Test Page`</div>
<div class='progress-msg'>[05:54:40] Deleting images for `Bens Test Page`</div>
<div class='progress-msg'>[05:54:40] Applying filter `pmxi_article_data` for `Bens Test Page`</div>
<div class='progress-msg'>[05:54:40] <b>UPDATING</b> `Bens Test Page` `Page`</div>
<div class='progress-msg'>[05:54:40] Associate post `Bens Test Page` with current import ...</div>
<div class='progress-msg'>[05:54:40] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[05:54:40] - Custom field _wp_page_template has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _elementor_controls_usage has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _postcode has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field postcode has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _Suburb has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field Suburb has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _elementor_template_type has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _elementor_version has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _elementor_pro_version has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _elementor_css has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] - Custom field _wp_desired_post_slug has been deleted for `Bens Test Page` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[05:54:40] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[05:54:40] - Importing field `postcode`</div>
<div class='progress-msg'>[05:54:40] - Importing field `Suburb`</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_wp_page_template` will be updated with value `elementor_canvas` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_controls_usage` will be updated with value `a:4:{s:7:&quot;heading&quot;;a:3:{s:5:&quot;count&quot;;i:1;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:1:{s:7:&quot;content&quot;;a:1:{s:13:&quot;section_title&quot;;a:1:{s:5:&quot;title&quot;;i:1;}}}}s:6:&quot;column&quot;;a:3:{s:5:&quot;count&quot;;i:2;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:0:{}}s:7:&quot;section&quot;;a:3:{s:5:&quot;count&quot;;i:2;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:0:{}}s:5:&quot;image&quot;;a:3:{s:5:&quot;count&quot;;i:1;s:15:&quot;control_percent&quot;;i:0;s:8:&quot;controls&quot;;a:1:{s:7:&quot;content&quot;;a:1:{s:13:&quot;section_image&quot;;a:1:{s:5:&quot;image&quot;;i:1;}}}}}` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_template_type` will be updated with value `page` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_version` will be updated with value `2.7.4` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_pro_version` will be updated with value `2.7.2` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_elementor_css` will be updated with value `a:6:{s:4:&quot;time&quot;;s:10:&quot;1571281967&quot;;s:5:&quot;fonts&quot;;a:0:{}s:5:&quot;icons&quot;;a:0:{}s:6:&quot;status&quot;;s:5:&quot;empty&quot;;i:0;s:0:&quot;&quot;;s:3:&quot;css&quot;;s:0:&quot;&quot;;}` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[05:54:40] - Custom field `_wp_desired_post_slug` will be updated with value `bens-test` for post `Bens Test Page` ...</div>
<div class='progress-msg'>[05:54:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[05:54:40] <b>IMAGES:</b></div>
<div class='progress-msg'>[05:54:40] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[05:54:40] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[05:54:40] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[05:54:40] <b>UPDATED</b> `Bens Test Page` `Page` (ID: 136)</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[05:54:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[05:54:40] Cleaning temporary data...</div>
