<div class='progress-msg'>Sat, 19 Oct 2019 04:47:02 +0000</div>
<div class='progress-msg'>[04:47:02] Composing titles...</div>
<div class='progress-msg'>[04:47:02] Composing excerpts...</div>
<div class='progress-msg'>[04:47:02] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:47:02] Composing authors...</div>
<div class='progress-msg'>[04:47:02] Composing slugs...</div>
<div class='progress-msg'>[04:47:02] Composing menu order...</div>
<div class='progress-msg'>[04:47:02] Composing contents...</div>
<div class='progress-msg'>[04:47:02] Composing dates...</div>
<div class='progress-msg'>[04:47:02] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[04:47:02] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[04:47:02] Composing custom parameters...</div>
<div class='progress-msg'>[04:47:02] Composing URLs for images...</div>
<div class='progress-msg'>[04:47:02] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:47:02] Composing unique keys...</div>
<div class='progress-msg'>[04:47:02] Processing posts...</div>
<div class='progress-msg'>[04:47:02] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:47:02] ---</div>
<div class='progress-msg'>[04:47:02] Record #1</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:02] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:02] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:02] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:02] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:02] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:02] Deleting images for ``</div>
<div class='progress-msg'>[04:47:02] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:02] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:02] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:02] ---</div>
<div class='progress-msg'>[04:47:02] Record #2</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:02] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:02] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:02] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:02] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:02] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:02] Deleting images for ``</div>
<div class='progress-msg'>[04:47:02] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:02] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:02] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:02] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:02] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:02] ---</div>
<div class='progress-msg'>[04:47:02] Record #3</div>
<div class='progress-msg'>[04:47:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:02] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:02] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:02] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:02] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:02] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:02] Deleting images for ``</div>
<div class='progress-msg'>[04:47:02] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:02] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #4</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #5</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #6</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #7</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #8</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #9</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] ---</div>
<div class='progress-msg'>[04:47:03] Record #10</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:47:03] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:47:03] Combine all data for post ``...</div>
<div class='progress-msg'>[04:47:03] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[04:47:03] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[04:47:03] Deleting attachments for ``</div>
<div class='progress-msg'>[04:47:03] Deleting images for ``</div>
<div class='progress-msg'>[04:47:03] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:47:03] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[04:47:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:47:03] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:47:03] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:47:03] <b>UPDATED</b> `` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:47:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:47:03] Cleaning temporary data...</div>
