<div class='progress-msg'>Thu, 17 Oct 2019 09:27:36 +0000</div>
<div class='progress-msg'>[09:27:36] Composing titles...</div>
<div class='progress-msg'>[09:27:36] Composing excerpts...</div>
<div class='progress-msg'>[09:27:36] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:27:36] Composing authors...</div>
<div class='progress-msg'>[09:27:36] Composing slugs...</div>
<div class='progress-msg'>[09:27:36] Composing menu order...</div>
<div class='progress-msg'>[09:27:36] Composing contents...</div>
<div class='progress-msg'>[09:27:36] Composing dates...</div>
<div class='progress-msg'>[09:27:36] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[09:27:36] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[09:27:36] Composing custom parameters...</div>
<div class='progress-msg'>[09:27:36] Composing URLs for images...</div>
<div class='progress-msg'>[09:27:36] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:27:36] Composing unique keys...</div>
<div class='progress-msg'>[09:27:36] Processing posts...</div>
<div class='progress-msg'>[09:27:36] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:27:36] ---</div>
<div class='progress-msg'>[09:27:36] Record #1</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:27:36] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:27:36] Combine all data for post ``...</div>
<div class='progress-msg'>[09:27:36] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[09:27:36] Duplicate post wasn't found with unique key `- 47`...</div>
<div class='progress-msg'>[09:27:36] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:27:36] <b>CREATING</b> `` `Page`</div>
<div class='progress-msg'>[09:27:36] Associate post `` with current import ...</div>
<div class='progress-msg'>[09:27:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:27:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:27:36] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:27:36] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:27:36] <b>CREATED</b> `` `Page` (ID: 82)</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:27:36] ---</div>
<div class='progress-msg'>[09:27:36] Record #2</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:27:36] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:27:36] Combine all data for post ``...</div>
<div class='progress-msg'>[09:27:36] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[09:27:36] Duplicate post wasn't found with unique key `- `...</div>
<div class='progress-msg'>[09:27:36] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:27:36] <b>CREATING</b> `` `Page`</div>
<div class='progress-msg'>[09:27:36] Associate post `` with current import ...</div>
<div class='progress-msg'>[09:27:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:27:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:27:36] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:27:36] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:27:36] <b>CREATED</b> `` `Page` (ID: 83)</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:27:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:27:36] Cleaning temporary data...</div>
