<div class='progress-msg'>Mon, 21 Oct 2019 09:45:20 +0000</div>
<div class='progress-msg'>[09:45:20] Composing titles...</div>
<div class='progress-msg'>[09:45:20] Composing excerpts...</div>
<div class='progress-msg'>[09:45:20] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:45:20] Composing authors...</div>
<div class='progress-msg'>[09:45:20] Composing slugs...</div>
<div class='progress-msg'>[09:45:20] Composing menu order...</div>
<div class='progress-msg'>[09:45:20] Composing contents...</div>
<div class='progress-msg'>[09:45:20] Composing dates...</div>
<div class='progress-msg'>[09:45:20] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[09:45:20] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[09:45:20] Composing custom parameters...</div>
<div class='progress-msg'>[09:45:20] Composing URLs for images...</div>
<div class='progress-msg'>[09:45:20] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:45:20] Composing unique keys...</div>
<div class='progress-msg'>[09:45:20] Processing posts...</div>
<div class='progress-msg'>[09:45:20] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:45:20] Composing advanced custom fields...</div>
<div class='progress-msg'>[09:45:20] ---</div>
<div class='progress-msg'>[09:45:20] Record #1</div>
<div class='progress-msg'>[09:45:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:45:20] Combine all data for post `Bens Test Page 22`...</div>
<div class='progress-msg'>[09:45:20] Find corresponding article among previously imported for post `Bens Test Page 22`...</div>
<div class='progress-msg'>[09:45:20] Duplicate post wasn't found with unique key `Bens Test Page 22 -  - `...</div>
<div class='progress-msg'>[09:45:20] Applying filter `pmxi_article_data` for `Bens Test Page 22`</div>
<div class='progress-msg'>[09:45:20] <b>CREATING</b> `Bens Test Page 22` `Page`</div>
<div class='progress-msg'>[09:45:20] Associate post `Bens Test Page 22` with current import ...</div>
<div class='progress-msg'>[09:45:20] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[09:45:20] - Importing field `postcode`</div>
<div class='progress-msg'>[09:45:20] - Importing field `Suburb`</div>
<div class='progress-msg'>[09:45:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:45:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:45:20] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:45:20] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:45:20] <b>CREATED</b> `Bens Test Page 22` `Page` (ID: 161)</div>
<div class='progress-msg'>[09:45:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:45:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:45:20] Cleaning temporary data...</div>
