<div class='progress-msg'>Thu, 12 Dec 2019 06:19:36 +0000</div>
<div class='progress-msg'>[06:19:36] Composing titles...</div>
<div class='progress-msg'>[06:19:36] Composing excerpts...</div>
<div class='progress-msg'>[06:19:36] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:19:36] Composing authors...</div>
<div class='progress-msg'>[06:19:36] Composing slugs...</div>
<div class='progress-msg'>[06:19:36] Composing menu order...</div>
<div class='progress-msg'>[06:19:36] Composing contents...</div>
<div class='progress-msg'>[06:19:36] Composing dates...</div>
<div class='progress-msg'>[06:19:36] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[06:19:36] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[06:19:36] Composing custom parameters...</div>
<div class='progress-msg'>[06:19:36] Composing URLs for images...</div>
<div class='progress-msg'>[06:19:36] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:19:36] Composing unique keys...</div>
<div class='progress-msg'>[06:19:36] Processing posts...</div>
<div class='progress-msg'>[06:19:36] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:19:36] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:19:36] ---</div>
<div class='progress-msg'>[06:19:36] Record #1</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:19:36] Combine all data for post `Bens Test Page 2 MS`...</div>
<div class='progress-msg'>[06:19:36] Find corresponding article among previously imported for post `Bens Test Page 2 MS`...</div>
<div class='progress-msg'>[06:19:36] Duplicate post wasn't found with unique key `2003`...</div>
<div class='progress-msg'>[06:19:36] Applying filter `pmxi_article_data` for `Bens Test Page 2 MS`</div>
<div class='progress-msg'>[06:19:36] <b>CREATING</b> `Bens Test Page 2 MS` `Page`</div>
<div class='progress-msg'>[06:19:36] Associate post `Bens Test Page 2 MS` with current import ...</div>
<div class='progress-msg'>[06:19:36] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:19:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:19:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:19:36] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:19:36] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:19:36] <b>CREATED</b> `Bens Test Page 2 MS` `Page` (ID: 1597)</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:19:36] ---</div>
<div class='progress-msg'>[06:19:36] Record #2</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:19:36] Combine all data for post `Bens Test Page 3 MS`...</div>
<div class='progress-msg'>[06:19:36] Find corresponding article among previously imported for post `Bens Test Page 3 MS`...</div>
<div class='progress-msg'>[06:19:36] Duplicate post wasn't found with unique key `2004`...</div>
<div class='progress-msg'>[06:19:36] Applying filter `pmxi_article_data` for `Bens Test Page 3 MS`</div>
<div class='progress-msg'>[06:19:36] <b>CREATING</b> `Bens Test Page 3 MS` `Page`</div>
<div class='progress-msg'>[06:19:36] Associate post `Bens Test Page 3 MS` with current import ...</div>
<div class='progress-msg'>[06:19:36] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:19:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:19:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:19:36] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:19:36] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:19:36] <b>CREATED</b> `Bens Test Page 3 MS` `Page` (ID: 1598)</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:19:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:19:36] Cleaning temporary data...</div>
