/*
Theme Name: Hello Elementor Child
Theme URL: http://hostinger-tutorials.com
Description: Hello Elementor Child Theme
Author: John Doe
Author URL: http://hostinger-tutorials.com
Template: hello-elementor
Version: 1.0.0
Text Domain: hello-elementor-child
*/

body{
    background-color: #0d84e3;
}

.left_section {
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%) !important;
}

/* Single Page Design */
.post-search-box .search-field{
    margin-top: -3px !important;
}

.post-search-box .search-submit {
    border-color: #676767 !important;
    color: white !important;
    background: gray;
}

.post-search-box .search-submit:hover {
    background-color: #aba6a6 !important;
}

.post-page-meta li {
    list-style-type: none !important;
}
.post-page-meta li a {
    color: #00867b !important;
}

.post-page-meta li a:hover{
    color: #003430 !important;
}


.post-page-meta li:before {
    font-family: "FontAwesome" !important;
    content: '\f101';
    padding-right: 10px;
}

.post-page-meta ul {
    padding-left: 20px !important;
}

.fa-frown {
	font-size: 80px !important;
    color: #00b7a8 !important;
}


/* No search Result */
.search-no-results .page-header {
    padding-top: 15% !important;
}