<div class='progress-msg'>Fri, 18 Oct 2019 04:07:10 +0000</div>
<div class='progress-msg'>[04:07:10] Composing titles...</div>
<div class='progress-msg'>[04:07:10] Composing excerpts...</div>
<div class='progress-msg'>[04:07:10] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:07:10] Composing authors...</div>
<div class='progress-msg'>[04:07:10] Composing slugs...</div>
<div class='progress-msg'>[04:07:10] Composing menu order...</div>
<div class='progress-msg'>[04:07:10] Composing contents...</div>
<div class='progress-msg'>[04:07:10] Composing dates...</div>
<div class='progress-msg'>[04:07:10] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[04:07:10] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[04:07:10] Composing custom parameters...</div>
<div class='progress-msg'>[04:07:10] Composing URLs for images...</div>
<div class='progress-msg'>[04:07:10] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:07:10] Composing unique keys...</div>
<div class='progress-msg'>[04:07:10] Processing posts...</div>
<div class='progress-msg'>[04:07:10] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #1</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 2`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 2`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 2 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 2`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 2` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 2` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 2` for post `Schema Data 2` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 2` `Page` (ID: 92)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #2</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 3`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 3`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 3 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 3`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 3` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 3` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 3` for post `Schema Data 3` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 3` `Page` (ID: 93)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #3</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 4`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 4`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 4 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 4`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 4` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 4` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 4` for post `Schema Data 4` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 4` `Page` (ID: 94)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #4</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 5`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 5`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 5 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 5`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 5` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 5` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 5` for post `Schema Data 5` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 5` `Page` (ID: 95)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #5</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 6`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 6`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 6 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 6`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 6` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 6` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 6` for post `Schema Data 6` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 6` `Page` (ID: 96)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #6</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 7`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 7`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 7 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 7`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 7` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 7` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 7` for post `Schema Data 7` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 7` `Page` (ID: 97)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #7</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 8`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 8`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 8 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 8`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 8` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 8` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 8` for post `Schema Data 8` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 8` `Page` (ID: 98)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #8</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 9`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 9`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 9 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 9`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 9` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 9` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 9` for post `Schema Data 9` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 9` `Page` (ID: 99)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] ---</div>
<div class='progress-msg'>[04:07:10] Record #9</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:07:10] Combine all data for post `Schema Data 10`...</div>
<div class='progress-msg'>[04:07:10] Find corresponding article among previously imported for post `Schema Data 10`...</div>
<div class='progress-msg'>[04:07:10] Duplicate post wasn't found with unique key `Schema Data 10 - `...</div>
<div class='progress-msg'>[04:07:10] Applying filter `pmxi_article_data` for `Schema Data 10`</div>
<div class='progress-msg'>[04:07:10] <b>CREATING</b> `Schema Data 10` `Page`</div>
<div class='progress-msg'>[04:07:10] Associate post `Schema Data 10` with current import ...</div>
<div class='progress-msg'>[04:07:10] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `heading_h1` will be updated with value `hi Ben heading hi 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `description_h2` will be updated with value `hi description h2 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_h3` will be updated with value `hi price1 h3 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_h3` will be updated with value `hi price2 h3 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price1_description` will be updated with value `hi price1 description 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `price2_description` will be updated with value `hi price2 description 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `name` will be updated with value `hi name 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `mobile_no` will be updated with value `hi mobile 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[04:07:10] - Custom field `link` will be updated with value `hi link 10` for post `Schema Data 10` ...</div>
<div class='progress-msg'>[04:07:10] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[04:07:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:07:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[04:07:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[04:07:10] <b>CREATED</b> `Schema Data 10` `Page` (ID: 100)</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:07:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:07:10] Cleaning temporary data...</div>
