<div class='progress-msg'>Wed, 20 Nov 2019 07:19:30 +0000</div>
<div class='progress-msg'>[07:19:30] Composing titles...</div>
<div class='progress-msg'>[07:19:30] Composing excerpts...</div>
<div class='progress-msg'>[07:19:30] Composing duplicate indicators...</div>
<div class='progress-msg'>[07:19:30] Composing authors...</div>
<div class='progress-msg'>[07:19:30] Composing slugs...</div>
<div class='progress-msg'>[07:19:30] Composing menu order...</div>
<div class='progress-msg'>[07:19:30] Composing contents...</div>
<div class='progress-msg'>[07:19:30] Composing dates...</div>
<div class='progress-msg'>[07:19:30] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[07:19:30] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[07:19:30] Composing custom parameters...</div>
<div class='progress-msg'>[07:19:30] Composing URLs for images...</div>
<div class='progress-msg'>[07:19:30] Composing URLs for attachments files...</div>
<div class='progress-msg'>[07:19:30] Composing unique keys...</div>
<div class='progress-msg'>[07:19:30] Processing posts...</div>
<div class='progress-msg'>[07:19:30] Data parsing via add-ons...</div>
<div class='progress-msg'>[07:19:30] Composing advanced custom fields...</div>
<div class='progress-msg'>[07:19:30] ---</div>
<div class='progress-msg'>[07:19:30] Record #1</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:19:30] Combine all data for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[07:19:30] Find corresponding article among previously imported for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[07:19:30] Duplicate post wasn't found with unique key `1005`...</div>
<div class='progress-msg'>[07:19:30] Applying filter `pmxi_article_data` for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[07:19:30] <b>CREATING</b> `xxx Mobile Skips Elwood` `Page`</div>
<div class='progress-msg'>[07:19:30] Associate post `xxx Mobile Skips Elwood` with current import ...</div>
<div class='progress-msg'>[07:19:30] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:19:30] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:19:30] <b>CREATED</b> `xxx Mobile Skips Elwood` `Page` (ID: 964)</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:19:30] ---</div>
<div class='progress-msg'>[07:19:30] Record #2</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:19:30] Combine all data for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[07:19:30] Find corresponding article among previously imported for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[07:19:30] Duplicate post wasn't found with unique key `1007`...</div>
<div class='progress-msg'>[07:19:30] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[07:19:30] <b>CREATING</b> `xxxx Mobile Skips Ringwood` `Page`</div>
<div class='progress-msg'>[07:19:30] Associate post `xxxx Mobile Skips Ringwood` with current import ...</div>
<div class='progress-msg'>[07:19:30] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:19:30] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:19:30] <b>CREATED</b> `xxxx Mobile Skips Ringwood` `Page` (ID: 965)</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:19:30] ---</div>
<div class='progress-msg'>[07:19:30] Record #3</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:19:30] Combine all data for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[07:19:30] Find corresponding article among previously imported for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[07:19:30] Duplicate post wasn't found with unique key `1008`...</div>
<div class='progress-msg'>[07:19:30] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[07:19:30] <b>CREATING</b> `xxxx Mobile Skips Melbourne` `Page`</div>
<div class='progress-msg'>[07:19:30] Associate post `xxxx Mobile Skips Melbourne` with current import ...</div>
<div class='progress-msg'>[07:19:30] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:19:30] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:19:30] <b>CREATED</b> `xxxx Mobile Skips Melbourne` `Page` (ID: 966)</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:19:30] ---</div>
<div class='progress-msg'>[07:19:30] Record #4</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:19:30] Combine all data for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[07:19:30] Find corresponding article among previously imported for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[07:19:30] Duplicate post wasn't found with unique key `1009`...</div>
<div class='progress-msg'>[07:19:30] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[07:19:30] <b>CREATING</b> `xxxx Mobile Skips Geelong` `Page`</div>
<div class='progress-msg'>[07:19:30] Associate post `xxxx Mobile Skips Geelong` with current import ...</div>
<div class='progress-msg'>[07:19:30] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:19:30] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[07:19:30] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[07:19:30] <b>CREATED</b> `xxxx Mobile Skips Geelong` `Page` (ID: 967)</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:19:30] Cleaning temporary data...</div>
