<div class='progress-msg'>Tue, 22 Oct 2019 03:33:49 +0000</div>
<div class='progress-msg'>[03:33:49] Composing titles...</div>
<div class='progress-msg'>[03:33:49] Composing excerpts...</div>
<div class='progress-msg'>[03:33:49] Composing duplicate indicators...</div>
<div class='progress-msg'>[03:33:49] Composing authors...</div>
<div class='progress-msg'>[03:33:49] Composing slugs...</div>
<div class='progress-msg'>[03:33:49] Composing menu order...</div>
<div class='progress-msg'>[03:33:49] Composing contents...</div>
<div class='progress-msg'>[03:33:49] Composing dates...</div>
<div class='progress-msg'>[03:33:49] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[03:33:49] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[03:33:49] Composing custom parameters...</div>
<div class='progress-msg'>[03:33:49] Composing URLs for images...</div>
<div class='progress-msg'>[03:33:49] Composing URLs for attachments files...</div>
<div class='progress-msg'>[03:33:49] Composing unique keys...</div>
<div class='progress-msg'>[03:33:49] Processing posts...</div>
<div class='progress-msg'>[03:33:49] Data parsing via add-ons...</div>
<div class='progress-msg'>[03:33:50] Composing advanced custom fields...</div>
<div class='progress-msg'>[03:33:50] ---</div>
<div class='progress-msg'>[03:33:50] Record #1</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:33:50] Combine all data for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Find corresponding article among database for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Duplicate post was found for post `Elwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Deleting attachments for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Deleting images for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Applying filter `pmxi_article_data` for `Elwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] <b>UPDATING</b> `Elwood Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:33:50] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:33:50] - Importing field `postcode`</div>
<div class='progress-msg'>[03:33:50] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:33:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:33:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[03:33:50] <b>UPDATED</b> `Elwood Ben Test with Rony` `Page` (ID: 240)</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:33:50] ---</div>
<div class='progress-msg'>[03:33:50] Record #2</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:33:50] Combine all data for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Find corresponding article among database for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Duplicate post was found for post `Ringwood Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Deleting attachments for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Deleting images for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Applying filter `pmxi_article_data` for `Ringwood Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] <b>UPDATING</b> `Ringwood Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:33:50] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:33:50] - Importing field `postcode`</div>
<div class='progress-msg'>[03:33:50] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:33:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:33:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[03:33:50] <b>UPDATED</b> `Ringwood Ben Test with Rony` `Page` (ID: 241)</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:33:50] ---</div>
<div class='progress-msg'>[03:33:50] Record #3</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:33:50] Combine all data for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Find corresponding article among database for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Duplicate post was found for post `Melbourne Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Deleting attachments for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Deleting images for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Applying filter `pmxi_article_data` for `Melbourne Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] <b>UPDATING</b> `Melbourne Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:33:50] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:33:50] - Importing field `postcode`</div>
<div class='progress-msg'>[03:33:50] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:33:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:33:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[03:33:50] <b>UPDATED</b> `Melbourne Ben Test with Rony` `Page` (ID: 242)</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:33:50] ---</div>
<div class='progress-msg'>[03:33:50] Record #4</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:33:50] Combine all data for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Find corresponding article among database for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Duplicate post was found for post `Geelong Ben Test with Rony`...</div>
<div class='progress-msg'>[03:33:50] Deleting attachments for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Deleting images for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] Applying filter `pmxi_article_data` for `Geelong Ben Test with Rony`</div>
<div class='progress-msg'>[03:33:50] <b>UPDATING</b> `Geelong Ben Test with Rony` `Page`</div>
<div class='progress-msg'>[03:33:50] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[03:33:50] - Importing field `postcode`</div>
<div class='progress-msg'>[03:33:50] - Importing field `Suburb`</div>
<div class='progress-msg'>[03:33:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:33:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[03:33:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[03:33:50] <b>UPDATED</b> `Geelong Ben Test with Rony` `Page` (ID: 243)</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:33:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:33:50] Cleaning temporary data...</div>
