<div class='progress-msg'>Thu, 12 Dec 2019 06:11:09 +0000</div>
<div class='progress-msg'>[06:11:09] Composing titles...</div>
<div class='progress-msg'>[06:11:09] Composing excerpts...</div>
<div class='progress-msg'>[06:11:09] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:11:09] Composing authors...</div>
<div class='progress-msg'>[06:11:09] Composing slugs...</div>
<div class='progress-msg'>[06:11:09] Composing menu order...</div>
<div class='progress-msg'>[06:11:09] Composing contents...</div>
<div class='progress-msg'>[06:11:09] Composing dates...</div>
<div class='progress-msg'>[06:11:09] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[06:11:09] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[06:11:09] Composing custom parameters...</div>
<div class='progress-msg'>[06:11:09] Composing URLs for images...</div>
<div class='progress-msg'>[06:11:09] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:11:09] Composing unique keys...</div>
<div class='progress-msg'>[06:11:09] Processing posts...</div>
<div class='progress-msg'>[06:11:09] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:11:09] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:11:09] ---</div>
<div class='progress-msg'>[06:11:09] Record #1</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:11:09] Combine all data for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[06:11:09] Find corresponding article among previously imported for post `Bens Test Page 2`...</div>
<div class='progress-msg'>[06:11:09] Duplicate post wasn't found with unique key `2001`...</div>
<div class='progress-msg'>[06:11:09] Applying filter `pmxi_article_data` for `Bens Test Page 2`</div>
<div class='progress-msg'>[06:11:09] <b>CREATING</b> `Bens Test Page 2` `Page`</div>
<div class='progress-msg'>[06:11:09] Associate post `Bens Test Page 2` with current import ...</div>
<div class='progress-msg'>[06:11:09] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:11:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:11:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:11:09] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:11:09] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:11:09] <b>CREATED</b> `Bens Test Page 2` `Page` (ID: 1593)</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:11:09] ---</div>
<div class='progress-msg'>[06:11:09] Record #2</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:11:09] Combine all data for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[06:11:09] Find corresponding article among previously imported for post `Bens Test Page 3`...</div>
<div class='progress-msg'>[06:11:09] Duplicate post wasn't found with unique key `2002`...</div>
<div class='progress-msg'>[06:11:09] Applying filter `pmxi_article_data` for `Bens Test Page 3`</div>
<div class='progress-msg'>[06:11:09] <b>CREATING</b> `Bens Test Page 3` `Page`</div>
<div class='progress-msg'>[06:11:09] Associate post `Bens Test Page 3` with current import ...</div>
<div class='progress-msg'>[06:11:09] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:11:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:11:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[06:11:09] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[06:11:09] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[06:11:09] <b>CREATED</b> `Bens Test Page 3` `Page` (ID: 1594)</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:11:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:11:09] Cleaning temporary data...</div>
