<div class='progress-msg'>Wed, 20 Nov 2019 06:29:56 +0000</div>
<div class='progress-msg'>[06:29:56] Composing titles...</div>
<div class='progress-msg'>[06:29:56] Composing excerpts...</div>
<div class='progress-msg'>[06:29:56] Composing duplicate indicators...</div>
<div class='progress-msg'>[06:29:56] Composing slugs...</div>
<div class='progress-msg'>[06:29:56] Composing menu order...</div>
<div class='progress-msg'>[06:29:56] Composing contents...</div>
<div class='progress-msg'>[06:29:56] Composing dates...</div>
<div class='progress-msg'>[06:29:56] Composing custom parameters...</div>
<div class='progress-msg'>[06:29:56] Composing URLs for attachments files...</div>
<div class='progress-msg'>[06:29:56] Composing unique keys...</div>
<div class='progress-msg'>[06:29:56] Processing posts...</div>
<div class='progress-msg'>[06:29:56] Data parsing via add-ons...</div>
<div class='progress-msg'>[06:29:56] Composing advanced custom fields...</div>
<div class='progress-msg'>[06:29:56] ---</div>
<div class='progress-msg'>[06:29:56] Record #1</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:29:56] Combine all data for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:29:56] Find corresponding article among database for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:29:56] Duplicate post was found for post `xxx Mobile Skips Elwood`...</div>
<div class='progress-msg'>[06:29:56] Preserve taxonomies of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve date of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve content of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve excerpt of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve menu order of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post parent of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post type of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve comment status of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve ping status of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post author of already existing article for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] Applying filter `pmxi_article_data` for `xxx Mobile Skips Elwood`</div>
<div class='progress-msg'>[06:29:56] <b>UPDATING</b> `xxx Mobile Skips Elwood` `Page`</div>
<div class='progress-msg'>[06:29:56] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:29:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:29:56] <b>UPDATED</b> `xxx Mobile Skips Elwood` `Page` (ID: 941)</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:29:56] ---</div>
<div class='progress-msg'>[06:29:56] Record #2</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:29:56] Combine all data for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:29:56] Find corresponding article among database for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:29:56] Duplicate post was found for post `xxxx Mobile Skips Ringwood`...</div>
<div class='progress-msg'>[06:29:56] Preserve taxonomies of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve date of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve content of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve excerpt of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve menu order of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post parent of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post type of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve comment status of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve ping status of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Preserve post author of already existing article for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Ringwood`</div>
<div class='progress-msg'>[06:29:56] <b>UPDATING</b> `xxxx Mobile Skips Ringwood` `Page`</div>
<div class='progress-msg'>[06:29:56] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:29:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:29:56] <b>UPDATED</b> `xxxx Mobile Skips Ringwood` `Page` (ID: 942)</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:29:56] ---</div>
<div class='progress-msg'>[06:29:56] Record #3</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:29:56] Combine all data for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:29:56] Find corresponding article among database for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:29:56] Duplicate post was found for post `xxxx Mobile Skips Melbourne`...</div>
<div class='progress-msg'>[06:29:56] Preserve taxonomies of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve date of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve content of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve excerpt of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve menu order of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve post parent of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve post type of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve comment status of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve ping status of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Preserve post author of already existing article for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Melbourne`</div>
<div class='progress-msg'>[06:29:56] <b>UPDATING</b> `xxxx Mobile Skips Melbourne` `Page`</div>
<div class='progress-msg'>[06:29:56] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:29:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:29:56] <b>UPDATED</b> `xxxx Mobile Skips Melbourne` `Page` (ID: 943)</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:29:56] ---</div>
<div class='progress-msg'>[06:29:56] Record #4</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[06:29:56] Combine all data for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:29:56] Find corresponding article among database for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:29:56] Duplicate post was found for post `xxxx Mobile Skips Geelong`...</div>
<div class='progress-msg'>[06:29:56] Preserve taxonomies of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve date of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve content of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve excerpt of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve menu order of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve post parent of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve post type of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve comment status of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve ping status of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Preserve post author of already existing article for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] Applying filter `pmxi_article_data` for `xxxx Mobile Skips Geelong`</div>
<div class='progress-msg'>[06:29:56] <b>UPDATING</b> `xxxx Mobile Skips Geelong` `Page`</div>
<div class='progress-msg'>[06:29:56] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[06:29:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[06:29:56] <b>UPDATED</b> `xxxx Mobile Skips Geelong` `Page` (ID: 944)</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[06:29:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[06:29:56] Cleaning temporary data...</div>
