<div class='progress-msg'>Thu, 17 Oct 2019 09:46:59 +0000</div>
<div class='progress-msg'>[09:46:59] Composing titles...</div>
<div class='progress-msg'>[09:46:59] Composing excerpts...</div>
<div class='progress-msg'>[09:46:59] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:46:59] Composing authors...</div>
<div class='progress-msg'>[09:46:59] Composing slugs...</div>
<div class='progress-msg'>[09:46:59] Composing menu order...</div>
<div class='progress-msg'>[09:46:59] Composing contents...</div>
<div class='progress-msg'>[09:46:59] Composing dates...</div>
<div class='progress-msg'>[09:46:59] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[09:46:59] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[09:46:59] Composing custom parameters...</div>
<div class='progress-msg'>[09:46:59] Composing URLs for images...</div>
<div class='progress-msg'>[09:46:59] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:46:59] Composing unique keys...</div>
<div class='progress-msg'>[09:46:59] Processing posts...</div>
<div class='progress-msg'>[09:46:59] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:46:59] ---</div>
<div class='progress-msg'>[09:46:59] Record #1</div>
<div class='progress-msg'>[09:46:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:46:59] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:46:59] Combine all data for post ``...</div>
<div class='progress-msg'>[09:46:59] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[09:46:59] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[09:46:59] Deleting attachments for ``</div>
<div class='progress-msg'>[09:46:59] Deleting images for ``</div>
<div class='progress-msg'>[09:46:59] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:46:59] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[09:46:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:46:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:46:59] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:46:59] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:46:59] <b>UPDATED</b> `` `Page` (ID: 75)</div>
<div class='progress-msg'>[09:46:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:46:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:46:59] ---</div>
<div class='progress-msg'>[09:46:59] Record #2</div>
<div class='progress-msg'>[09:46:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:46:59] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[09:46:59] Combine all data for post ``...</div>
<div class='progress-msg'>[09:46:59] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[09:46:59] Duplicate post was found for post ``...</div>
<div class='progress-msg'>[09:46:59] Deleting attachments for ``</div>
<div class='progress-msg'>[09:46:59] Deleting images for ``</div>
<div class='progress-msg'>[09:46:59] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[09:46:59] <b>UPDATING</b> `` `Page`</div>
<div class='progress-msg'>[09:47:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:47:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:47:00] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[09:47:00] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[09:47:00] <b>UPDATED</b> `` `Page` (ID: 75)</div>
<div class='progress-msg'>[09:47:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:47:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:47:00] Cleaning temporary data...</div>
